<div class="profile-card">
    <div class="profile-header">
        <div class="profile-title">Etkinlik</div>
    </div>
    <div class="profile-content">
        <div class="profile-color-bar">
            <div style="width: 8px; flex: 1 1 0; background: #957AB6"></div>
            <div style="width: 8px; flex: 1 1 0; background: #876AAD"></div>
            <div style="width: 8px; flex: 1 1 0; background: #7A59A4"></div>
            <div style="width: 8px; flex: 1 1 0; background: #6E5094"></div>
            <div style="width: 8px; flex: 1 1 0; background: #624783"></div>
        </div>
        <div class="profile-details">
            <div class="profile-name">Antalya Teknokent Demoday</div>
            <div class="profile-description">
                <div class="profile-date">
                    <div class="date-longText">Antalya Teknokent ve farklabs iş birliği ile gerçekleştirilecek olan "Girişimci Yatırımcı Buluşması" etkinliğine davetlisiniz.</div>
                    <div class="profile-location">
                        <div class="date-icon"><mat-icon>calendar_today</mat-icon></div>
                        <div class="date-text">21 Mart</div>
                    </div>
                </div>
                <div class="profile-location">
                    <div class="location-icon"><mat-icon> location_on</mat-icon></div>
                    <div class="location-text">Antalya Teknokent Ar-Ge 2 Uluğbey Binası Büyük Seminer Salonu</div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-actions">
        <div class="action-item">
          <div class="action-icon green">	<mat-icon>check</mat-icon></div>
          <div class="action-text">Seçimlerinize uyuyor • <br>Yüz Yüze Etkinlikler</div>
        </div>
        <div class="action-item">
          <div class="action-icon green">	<mat-icon>check</mat-icon></div>
          <div class="action-text">Seçimlerinize uyuyor • <br>30km Mesafe İçinde</div>
        </div>
        <div class="action-item">
          <div class="action-icon" style="color: #F03E3E;">	<mat-icon>close</mat-icon></div>
          <div class="action-text">Seçimlerinize uyuyor • <br>Ücretsiz Katılım</div>
        </div>
      </div>
    <div class="profile-footer">
        <div class="footer-icon"><mat-icon>favorite_border</mat-icon></div>
        <div class="footer-divider"></div>
        <div class="footer-icon"><mat-icon>turned_in_not</mat-icon></div>
        <div class="footer-divider"></div>
        <div class="footer-icon"><mat-icon>more_horiz</mat-icon></div>
    </div>
</div>