<img style="width: 100%; border-radius: 7px;" src="assets/img/menu-profile.svg" alt="">
<mat-action-list role="list">
  <a routerLink="/my-profile" mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon>
    <div mat-line>Profil</div>
  </a>
  <a routerLink="/friends" mat-list-item>
    <mat-icon mat-list-icon>people</mat-icon>
    <div mat-line>Arkadaşlarım</div>
  </a>
  <a routerLink="/saved" mat-list-item>
    <mat-icon mat-list-icon>bookmarks</mat-icon>
    <div mat-line>Kaydedilenler</div>
  </a>
</mat-action-list>
<hr class="profile-hr" />

<mat-action-list role="list">
  <a routerLink="/communities" mat-list-item>
    <mat-icon mat-list-icon>diversity_1</mat-icon>
    <div mat-line>Topluluklar</div>
  </a>
  <a routerLink="/projects" mat-list-item>
    <mat-icon mat-list-icon>rocket_launch</mat-icon>
    <div mat-line>Projeler</div>
  </a>
  <a routerLink="/people" mat-list-item>
    <mat-icon mat-list-icon>people</mat-icon>
    <div mat-line>Kişiler</div>
  </a>
  <a routerLink="/companies" mat-list-item>
    <mat-icon mat-list-icon>apartment</mat-icon>
    <div mat-line>Şirketler</div>
  </a>
  <a routerLink="/events" mat-list-item>
    <mat-icon mat-list-icon>event</mat-icon>
    <div mat-line>Etkinlikler</div>
  </a>
</mat-action-list>
