
.reversable {
  height: 100%;
  flex-direction: row-reverse;
  background-color: var(--surface-1);

  .col-sm {
    img {
      width: 100%;
    }
  }

  @media only screen and (min-width: 600px) {
    .form-panel {
      opacity: 0;
      transition: opacity 1s ease;
      &.reverse {
        transform: translateX(-100%);
        opacity: 1;
      }
    }

    .image-panel {
      transition: transform 1s ease;
      &.reverse {
        transform: translateX(100%);
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .image-panel {
      display: none !important;
    }
  }
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

mat-horizontal-stepper {
  background-color: var(--surface-1) !important;
}

.logo {
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
  img {
    width: 120px;
  }
  z-index: 99;
}

.seperator {
  margin-top: 4%;
  display: flex;
  align-items: center;

  .seperator-text {
    margin-left: 8px;
    margin-right: 8px;
    color: var(--sub-text);
  }

  &::before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: var(--seperator-background);
  }
  &::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: var(--seperator-background);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 60%;
  display: block;

  .header {
    text-align: left;
    margin-top: 4%;
  }

  .field {
    width: 100%;
  }
}

.error {
  color: #CD5888;
  text-align: center;
}

.mat-stroked-button {
  color: var(--text);
  border-color: var(--sub-text);;
}



mat-icon {
  color: var(--text);
}