<mat-card class="post-card mat-elevation-z0">
  <div class="post-container">
    <div>
      <div class="post-top">
        <div class="image-container">
          <img class="profile-image" [src]="post.user.image" alt="" />
        </div>
        <div class="info-container">
          <h4>Ferman Uludağ</h4>
          <p class="user-info">TED Üniversitesi - Makine Mühendisliği</p>
          <p class="post-info">
            13 Saat • Düzenlendi •&nbsp;<mat-icon>public</mat-icon>&nbsp;Herkese
            Açık
          </p>
        </div>
      </div>
      <div class="post-content">
        <p>
          Mimarlık Bölümü öğrencilerimizden @Umut Er, geçtiğimiz bahar döneminde
          1.sınıf stüdyosunda yaptığı projesiyle bu sene yirmi birincisi
          düzenlenen Mimarlık Eğitimi Derneği Mimarlık Öğrencileri Ödülleri 1.
          Sınıf kategorisinde Jüri Özel Ödülü'ne layık görüldü.
          <br /><br /><span class="tag">#mimarlık</span>
        </p>
      </div>
      <div class="post-image">
        <img src="assets/img/post-image.png" alt="" />
      </div>
      <div class="row buttons-container">
        <div class="col-m-9 d-flex buttons">
          <button mat-button class="attachment-button">
            <mat-icon>thumb_up</mat-icon> 106
          </button>
          <button mat-button class="attachment-button">
            <mat-icon>comment</mat-icon> 20
          </button>
          <button mat-icon-button class="icon-button">
            <mat-icon>share</mat-icon>
          </button>
          <button mat-button color="primary" class="attachment-button">
            <mat-icon>bookmark</mat-icon> Kaydedildi
          </button>
        </div>
        <div class="col-m-3" style="display: flex; justify-content: flex-end">
          <button mat-flat-button color="primary">
            <span>Gönder</span>&nbsp;&nbsp;&nbsp;<mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
