<mat-card class="post-card mat-elevation-z0">
  <div class="post-container">
    <div>
      <div class="post-top">
        <div class="image-container">
          <img class="profile-image" [src]="post.postedBy.avatar" alt="" />
        </div>
        <div class="info-container">
          <h4>{{ post.postedBy.name }}</h4>
          <p class="user-info">TED Üniversitesi - Makine Mühendisliği</p>
          <p class="post-info">
            {{ post.createdAt | dateAgo }} • Düzenlendi
            •&nbsp;<mat-icon>public</mat-icon>&nbsp;Herkese Açık
          </p>
        </div>
      </div>
      <div class="post-content">
        <post-content
          [content]="post.text"
        >
        </post-content>
      </div>
      <div class="post-image row">
        <div class="col" *ngFor="let image of post.images">
          <img [src]="image" alt="Post image" />
        </div>
      </div>
      <div class="buttons-container">
        <div class="d-flex buttons">
          <button mat-button class="attachment-button">
            <mat-icon>thumb_up</mat-icon> 106
          </button>
          <button mat-button class="attachment-button">
            <mat-icon>comment</mat-icon> 20
          </button>
          <button mat-icon-button class="icon-button">
            <mat-icon>share</mat-icon>
          </button>
          <button mat-button color="primary" class="attachment-button">
            <mat-icon>bookmark</mat-icon> Kaydedildi
          </button>
        </div>
        
      </div>
    </div>
  </div>
</mat-card>
