<mat-card class="post-card mat-elevation-z0">
  <div class="post-container">
    <div>
      <div class="post-top">
        <div class="image-container">
          <img class="profile-image" [src]="post.postedBy.avatar" alt="" />
        </div>
        <div class="info-container">
          <h4>{{ post.postedBy.name }}</h4>
          <p class="user-info">TED Üniversitesi - Makine Mühendisliği</p>
          <p class="post-info">
            {{ post.createdAt | dateAgo }} • Düzenlendi
            •&nbsp;<mat-icon>public</mat-icon>&nbsp;Herkese Açık
          </p>
        </div>
      </div>
      <div class="post-content">
        <post-content
          [content]="post.text"
        >
        </post-content>
      </div>
      <div class="post-image row">
        <div class="col" *ngFor="let image of post.images">
          <img [src]="image" alt="Post image" />
        </div>
      </div>
      <div class="buttons-container">
        <div class="buttons">
          <button (click)="addReaction('like')" mat-button class="attachment-button">
            <mat-icon>thumb_up</mat-icon> Beğen {{ post.reactionsCounts?.like || 0 }} 
          </button>
          <button mat-button class="attachment-button">
             <mat-icon>comment</mat-icon> Yorum Yap {{ post.commentCount || 0 }}
          </button>
          <button mat-icon-button class="icon-button">
            <mat-icon>ios_share</mat-icon> Paylaş
          </button>
          <div class="saved" style="padding-left: 30px;">
            <button mat-button color="primary" class="attachment-button" (click)="unsavePost()" *ngIf="isSaved else save">
              <mat-icon>bookmark</mat-icon> Kaydedildi
           </button>
           <ng-template #save >
             <button mat-button class="buttons-mat" (click)="savePost()" class="attachment-button">
               <mat-icon>bookmark</mat-icon> Kaydet
             </button>
           </ng-template>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</mat-card>
