@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import './tabs/search-tab.scss';

body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

/* Define styles for search results */
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  min-height: 90vh;
}

.cursors {
  cursor: default;
}
