::-webkit-scrollbar {
  display: none;
}

.school-host {
  min-height: 100vh;
  max-height: 140vh;
  overflow-y: scroll;
  padding-bottom: 4%;
}
.school-host .school-top {
  margin: 4% 0 2% 0;
  padding: 0px;
}
.school-host .school-top .row {
  margin: 0 !important;
}
.school-host .school-top .row .images {
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("https://www.akdeniz.edu.tr/vendor/uploads/2021/08/Akdeniz-Universitesi-scaled.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.school-host .school-top .row .images .logo {
  width: 12%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 2%;
}
.school-host .school-top .row .images .logo img {
  width: 100%;
  height: 100%;
}
.school-host .school-top .row .school-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.school-host .school-top .row .school-info .description {
  display: flex;
  flex-direction: column;
}
.school-host .school-top .row .school-info .description span {
  margin: 1% 0;
  display: flex;
  align-items: center;
}
.school-host .school-top .row .school-info .description .name h2 {
  color: #343A40;
  font-weight: 600;
  margin: 0;
}
.school-host .school-top .row .school-info .description .name .mat-icon {
  color: #F59F00;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.school-host .school-top .row .school-info .description .text {
  color: #495057;
}
.school-host .school-top .row .school-info .description .followers {
  color: #868E96;
}
.school-host .school-top .row .school-info .buttons {
  display: flex;
  flex-direction: column;
}
.school-host .school-top .row .school-info .buttons button {
  margin: 4% 0%;
}
.school-host .about {
  margin: 2% 0;
  padding: 2%;
}
.school-host .about .row {
  margin-top: 1%;
}
.school-host .about .row h4 {
  font-weight: 600;
  margin: 0;
}
.school-host .posts {
  margin: 2% 0;
  padding: 2%;
}
.school-host .featured-content {
  margin: 2% 0;
  padding: 2%;
}
.school-host .universityandme {
  margin: 2% 0;
}
.school-host .universityandme .title {
  margin-bottom: 0;
}
.school-host .universityandme .subtitle {
  display: flex;
  align-items: center;
  color: #5D64F3;
}
.school-host .universityandme .subtitle p {
  margin: 0 0.5%;
}
.school-host .universityandme .notifications {
  margin-top: 2%;
  display: flex;
}
.school-host .universityandme .notifications .friends {
  display: flex;
  width: 50%;
}
.school-host .universityandme .notifications .friends .icons {
  display: flex;
  justify-content: center;
  width: 25%;
  padding-top: 1%;
}
.school-host .universityandme .notifications .friends .icons img, .school-host .universityandme .notifications .friends .icons div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -2px;
}
.school-host .universityandme .notifications .friends .icons div {
  background-color: #4B53F2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.school-host .universityandme .notifications .friends .text {
  color: #495057;
}
.school-host .universityandme .notifications .friends .text h3 {
  margin-bottom: 1%;
  font-weight: 600;
}
.school-host .universityandme .notifications .event {
  display: flex;
  width: 50%;
}
.school-host .universityandme .notifications .event .icons {
  display: flex;
  justify-content: center;
  width: 25%;
  padding-top: 1%;
}
.school-host .universityandme .notifications .event .icons img {
  width: 50%;
  height: 60%;
  border: 1px solid rgba(73, 80, 87, 0.25);
  border-radius: 4px;
}
.school-host .universityandme .notifications .event .text h3 {
  margin-bottom: 0;
  font-weight: 600;
}
.school-host .universityandme .notifications .event .text button {
  display: flex;
  align-items: center;
}
.school-host .universityandme .notifications .event .text button .mat-icon {
  display: inline;
  font-size: 16px;
}
.school-host .community, .school-host .graduates, .school-host .jobs {
  margin: 2% 0;
}
.school-host .community .community-area .col-6, .school-host .community .graduates-area .col-6, .school-host .community .jobs-area .col-6, .school-host .graduates .community-area .col-6, .school-host .graduates .graduates-area .col-6, .school-host .graduates .jobs-area .col-6, .school-host .jobs .community-area .col-6, .school-host .jobs .graduates-area .col-6, .school-host .jobs .jobs-area .col-6 {
  display: flex;
  margin: 2% 0;
}
.school-host .community .community-area .col-6 .logo, .school-host .community .graduates-area .col-6 .logo, .school-host .community .jobs-area .col-6 .logo, .school-host .graduates .community-area .col-6 .logo, .school-host .graduates .graduates-area .col-6 .logo, .school-host .graduates .jobs-area .col-6 .logo, .school-host .jobs .community-area .col-6 .logo, .school-host .jobs .graduates-area .col-6 .logo, .school-host .jobs .jobs-area .col-6 .logo {
  width: 20%;
  text-align: center;
}
.school-host .community .community-area .col-6 .logo img, .school-host .community .graduates-area .col-6 .logo img, .school-host .community .jobs-area .col-6 .logo img, .school-host .graduates .community-area .col-6 .logo img, .school-host .graduates .graduates-area .col-6 .logo img, .school-host .graduates .jobs-area .col-6 .logo img, .school-host .jobs .community-area .col-6 .logo img, .school-host .jobs .graduates-area .col-6 .logo img, .school-host .jobs .jobs-area .col-6 .logo img {
  width: 60%;
  height: 35%;
  margin-top: 5%;
  border-radius: 50%;
}
.school-host .community .community-area .col-6 .text, .school-host .community .graduates-area .col-6 .text, .school-host .community .jobs-area .col-6 .text, .school-host .graduates .community-area .col-6 .text, .school-host .graduates .graduates-area .col-6 .text, .school-host .graduates .jobs-area .col-6 .text, .school-host .jobs .community-area .col-6 .text, .school-host .jobs .graduates-area .col-6 .text, .school-host .jobs .jobs-area .col-6 .text {
  width: 78%;
}
.school-host .community .community-area .col-6 .text h3, .school-host .community .graduates-area .col-6 .text h3, .school-host .community .jobs-area .col-6 .text h3, .school-host .graduates .community-area .col-6 .text h3, .school-host .graduates .graduates-area .col-6 .text h3, .school-host .graduates .jobs-area .col-6 .text h3, .school-host .jobs .community-area .col-6 .text h3, .school-host .jobs .graduates-area .col-6 .text h3, .school-host .jobs .jobs-area .col-6 .text h3 {
  font-weight: 600;
  margin-bottom: 0;
}
.school-host .community .community-area .col-6 .text p:nth-child(3), .school-host .community .graduates-area .col-6 .text p:nth-child(3), .school-host .community .jobs-area .col-6 .text p:nth-child(3), .school-host .graduates .community-area .col-6 .text p:nth-child(3), .school-host .graduates .graduates-area .col-6 .text p:nth-child(3), .school-host .graduates .jobs-area .col-6 .text p:nth-child(3), .school-host .jobs .community-area .col-6 .text p:nth-child(3), .school-host .jobs .graduates-area .col-6 .text p:nth-child(3), .school-host .jobs .jobs-area .col-6 .text p:nth-child(3) {
  color: #868E96;
}
.school-host .community .community-area .col-6 .text button .mat-icon, .school-host .community .graduates-area .col-6 .text button .mat-icon, .school-host .community .jobs-area .col-6 .text button .mat-icon, .school-host .graduates .community-area .col-6 .text button .mat-icon, .school-host .graduates .graduates-area .col-6 .text button .mat-icon, .school-host .graduates .jobs-area .col-6 .text button .mat-icon, .school-host .jobs .community-area .col-6 .text button .mat-icon, .school-host .jobs .graduates-area .col-6 .text button .mat-icon, .school-host .jobs .jobs-area .col-6 .text button .mat-icon {
  font-size: 16px;
  display: inline;
}
.school-host .projects {
  margin: 2% 0;
}
.school-host .projects h3 {
  font-weight: 500;
  margin-top: 8px;
}
.school-host .projects .project {
  padding: 5%;
  background-color: #F1F3F5;
  border: 1px solid var(--stroke);
  border-radius: 8px;
}
.school-host .projects .project .project-image {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 4px;
}
.school-host .projects .project .project-title {
  font-weight: 500;
  margin: 2px;
}
.school-host .projects .project .project-info {
  margin: 2px;
  color: var(--sub-text);
}
.school-host .projects .project .project-parent {
  display: inline-flex;
  align-items: center;
}
.school-host .projects .project .project-parent img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2px;
}
.school-host .projects .project .project-parent .project-parent-name {
  margin: 2px;
  font-weight: 400;
}
.school-host .projects .project .project-parent .project-parent-name span {
  font-weight: 500;
}
.school-host .projects .project button {
  width: 96%;
  margin-left: 2%;
  padding: 1%;
}
.school-host .school-life {
  margin: 2% 0;
}
.school-host .school-life .row .col-sm-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}
.school-host .school-life .row .col-sm-6 img {
  width: 100%;
  height: 80%;
  border-radius: 7px;
}
.school-host .school-life .row .col-sm-6 h2 {
  font-weight: 600;
}
.school-host .featured-events {
  margin: 2% 0;
}
.school-host .featured-events .event-card {
  padding: 0;
  height: 75vh;
  border: 1px solid #E9ECEF;
  border-radius: 7px;
  overflow: hidden;
}
.school-host .featured-events .event-card.blue .event-title {
  background-color: #4B53F2;
}
.school-host .featured-events .event-card.blue .date .mat-icon, .school-host .featured-events .event-card.blue .time .mat-icon, .school-host .featured-events .event-card.blue .location .mat-icon, .school-host .featured-events .event-card.blue .participant .mat-icon {
  color: #5D64F3;
}
.school-host .featured-events .event-card.light .event-title {
  background-color: #1098AD;
}
.school-host .featured-events .event-card.light .date .mat-icon, .school-host .featured-events .event-card.light .time .mat-icon, .school-host .featured-events .event-card.light .location .mat-icon, .school-host .featured-events .event-card.light .participant .mat-icon {
  color: #15AABF;
}
.school-host .featured-events .event-card .event-title {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 2%;
}
.school-host .featured-events .event-card .event-title h3 {
  margin-bottom: 0;
  color: #fff;
}
.school-host .featured-events .event-card .img {
  height: 25%;
  background-image: url("https://www.akdeniz.edu.tr/vendor/uploads/2021/08/Akdeniz-Universitesi-scaled.jpg");
  background-position: center;
  background-size: cover;
}
.school-host .featured-events .event-card .img img {
  width: 100%;
  height: 100%;
}
.school-host .featured-events .event-card .event-content {
  padding: 4%;
  height: 65%;
}
.school-host .featured-events .event-card .event-content .creater {
  margin: 2% 0;
  display: flex;
  align-items: center;
}
.school-host .featured-events .event-card .event-content .creater .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 70px;
  border: 1px solid rgba(73, 80, 87, 0.25);
  border-radius: 2px;
}
.school-host .featured-events .event-card .event-content .creater .logos img {
  width: 100%;
  height: 50%;
}
.school-host .featured-events .event-card .event-content .creater .logos img:nth-child(1) {
  border-bottom: 1px solid black;
}
.school-host .featured-events .event-card .event-content .creater p {
  margin: 0 0 0 2%;
}
.school-host .featured-events .event-card .event-content .date, .school-host .featured-events .event-card .event-content .time, .school-host .featured-events .event-card .event-content .location, .school-host .featured-events .event-card .event-content .participant {
  display: flex;
  align-items: center;
  margin: 3% 0;
}
.school-host .featured-events .event-card .event-content .date p, .school-host .featured-events .event-card .event-content .time p, .school-host .featured-events .event-card .event-content .location p, .school-host .featured-events .event-card .event-content .participant p {
  width: 90%;
  margin: 0 0 0 2%;
}
.school-host .featured-events .event-card .event-action {
  width: 84%;
  margin-left: 5%;
  position: absolute;
  bottom: 3%;
}
.school-host .featured-events .event-card .event-action button {
  width: 100%;
}
.school-host .contact {
  margin: 2% 0;
}
.school-host .contact .name {
  font-weight: 500;
  margin: 2px;
}

.card {
  margin-bottom: 2%;
}
.card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.card .title h2 {
  margin: 2px;
}
.card .title button {
  font-size: 12px;
}
.card .title button mat-icon {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=school.component.css.map */