<div class="left-side d-flex flex-column justify-content-center align-items-center">
  <div class="background"></div>
  <a class="logo d-flex justify-content-center" routerLink="/home"><img [src]="theme.darkMode ? 'assets/img/logo-white.png' : 'assets/img/logo.png'" alt="" /> </a>
  <h1>Unilocked’u keşfetmenin tam zamanı!</h1>
  <p>Kendini her zaman geliştirmenin yeni yollarını arayan gençler ve geleceğin yıldızlarını arayan profesyonellerin arasına dönme zamanı.</p>
  

</div>


<div class="right-side d-flex justify-content-center align-items-center">

  <div class="form d-flex flex-column align-items-center">
    <div class="title">
      <h1>Tekrardan Hoşgeldin!</h1>
    </div>
    <div class="login-form d-flex justify-content-between">
      <mat-form-field class="example-form-field">
        <mat-label>Eposta</mat-label>
        <input matInput type="text" [(ngModel)]="mail">
        <button *ngIf="mail" matSuffix mat-icon-button aria-label="Clear" (click)="isim=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Şifre</mat-label>
        <input matInput type="password">
      </mat-form-field>
      
      <div class="register">
        <p>
          Henüz hesabınız yok mu?
          <a href="/register">Kayıt olun</a>
        </p>
      </div>

      <div class="pass d-flex align-items-center justify-content-between">
        <div class="remember d-flex align-items-center ">
          <input type="checkbox" class="checkbox">
          <p>Şifremi Hatırla</p>
        </div>
        <div class="forget">
          <a href="#">Şifremi Unuttum</a>
        </div>
      </div>
     
      <div class="buttons d-flex flex-column align-items-center justify-content-center">
        <button mat-flat-button color="primary">
          Giriş Yap
        </button>
        <button mat-flat-button color="primary">
          <img src="../../../assets/img/google.png" alt="">
          <p>Google ile Giriş Yap</p>
        </button>
        <button mat-flat-button color="primary">
          <img src="../../../assets/img/apple.png" alt="">
          <p>Apple ile Giriş Yap</p>
        </button>
      </div>
    </div>
    

    
  </div> 

</div>


