<div class="card-container">
    <div class="card-header">
        <div class="card-title">Proje</div>
    </div>
    <div class="card-content">
        
        <div class="card-image">
            <img src="../../../../../assets/img/Rectangle 43.png" alt="Card Image" class="image"/>
            <div class="card-text-header">
                <div class="card-text-header-inner">
                    <div class="card-text-header-title">AlecTED - Otonom Araç Projesi</div>
                    <div class="card-text-header-title">AlecTED</div>
                </div>
            </div>
        </div>
        <div class="card-text">
            <div class="card-text-body">
                <div class="card-text-body-item">
                    <div class="item-icon">
                        <div class="icon-dot" style="color: #37B24D;"><mat-icon>check</mat-icon></div>
                    </div>
                    <div class="item-text">
                        <div class="item-text-content">
                            <span class="text-thin">İlgi alanlarınıza uyuyor • <br></span>
                            <span class="text-bold">Teknik Projeler</span>
                        </div>
                    </div>
                </div>
                <div class="card-text-body-item">
                    <div class="item-icon">
                        <div class="icon-dot" style="color: #F03E3E;"><mat-icon>close</mat-icon></div>
                    </div>
                    <div class="item-text">
                        <div class="item-text-content">
                            <span class="text-thin">İlgi alanlarınıza uymuyor • <br></span>
                            <span class="text-bold">Araç Projeleri</span>
                        </div>
                    </div>
                </div>
                <div class="card-text-body-item">
                    <div class="item-icon">
                        <div class="icon-dot" style="color: #F03E3E;"><mat-icon>close</mat-icon></div>
                    </div>
                    <div class="item-text">
                        <div class="item-text-content">
                            <span class="text-thin">Seçimlerinize uymuyor • <br></span>
                            <span class="text-bold">Okulunuzun Topluluklarından</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-rating">
            <div class="rating-badge">
              <div class="rating">3</div>
              <div class="rating-max">/10</div>
            </div>
        </div>
        <div class="card-footer">
            <div class="footer-icon">
                <div class="icon-arrow"><mat-icon>favorite_border</mat-icon></div>
            </div>
    
            <div class="footer-icon">
                <div class="icon-arrow"><mat-icon>turned_in_not</mat-icon></div>
            </div>
    
            <div class="footer-icon">
                <div class="icon-arrow"><mat-icon>more_horiz</mat-icon></div>
            </div>
        </div>
    </div>
</div>
