<div class="card-container">
    <div class="card-header">
        <div class="card-title">Proje</div>
    </div>
    <div class="card-content">
        <div class="card-image-container">
            <div class="card-text-header">
                <div class="card-text-header-inner">
                    <div class="card-text-header-headertext">AlecTED - Otonom Araç Projesi</div>
                </div>
            </div>
        </div>
        <div class="card-text-header-title">AlecTED topluluğu olarak otonom araç projesi üzerinde çalışıyoruz.</div>
            <div class="card-image-inner-image">
                <img src="../../../../../assets/img/Rectangle 43.png" alt="Card Image" class="image"/>
                <div class="card-text-header-subtitle">AlecTED</div>
            </div>
            
            <div class="profile-actions">
                <div class="action-item">
                  <div class="action-icon green">	<mat-icon>check</mat-icon></div>
                  <div class="action-text">İlgi alanlarınıza uyuyor • <br>Teknik Projeler</div>
                </div>
                <div class="action-item">
                  <div class="action-icon green">	<mat-icon>check</mat-icon></div>
                  <div class="action-text">İlgi alanlarınıza uymuyor • <br>Araç Projeleri</div>
                </div>
                <div class="action-item">
                  <div class="action-icon green">	<mat-icon>check</mat-icon></div>
                  <div class="action-text">İlgi alanlarınıza uymuyor • <br>Okulunuzun Topluluklarından</div>
                </div>  
            </div>
            <div class="profile-rating">
                <div class="rating-badge">
                  <div class="rating">3</div>
                  <div class="rating-max">/10</div>
                </div>
            </div>
        <div class="profile-footer">
            <div class="footer-icon"><mat-icon>favorite_border</mat-icon></div>
            <div class="footer-divider"></div>
            <div class="footer-icon"><mat-icon>turned_in_not</mat-icon></div>
            <div class="footer-divider"></div>
            <div class="footer-icon"><mat-icon>more_horiz</mat-icon></div>
        </div>
    </div>
</div>
