::-webkit-scrollbar {
    display: none;
  }
  
  h4{
    font-weight: 500;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .header {
    border-bottom: 0.1px solid #dee2e6;
    margin-top: 4%;
    overflow-y: scroll;
    height: 100vh;
  }
  
  .content {
    margin-top: 4%;
  }
  
  .joined {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
  
    
  }
  
  event-card {
    margin-top: 16px;
  }
  
  .suggested-area,
  .upcoming-area,
  .past-area {
    margin-top: 5%;
  
    .joined {
      justify-content: start;
  
      .row {
        display: inline-block !important;
  
        .col {
          display: flex;
          justify-content: space-between;
          padding: 0;
  
          .events-card {
            width: 50% !important;
            height: 80vh;
            margin-bottom: 3% !important;
  
            .eventContent {
              margin-bottom: 0 !important;
  
              .creater {
                margin: 5% 0;
              }
            }
          }
        }
      }
    }
  }