<main-content>
    <div class="container">
        <h4>Etkinlikler</h4>
        <mat-tab-group>
            <mat-tab label="Önerilen Etkinlikler">
                <div class="suggested-area">
                    <div class="d-flex justify-content-between">
                      <h2>Önerilen Etkinlikler</h2>
                    </div>
                    <div class="joined">
                      <div class="row">
                        <div class="col">
                          <event-card
                            title="Antalya Teknokent Demoday"
                            color="purple"
                          ></event-card>
                
                          <event-card
                            title="Antalya Teknokent Demoday"
                            color="green"
                          ></event-card>
                        </div>
                
                        <div class="col">
                          <event-card
                            title="Antalya Teknokent Demoday"
                            color="yellow"
                          ></event-card>
                
                          <event-card
                            title="Antalya Teknokent Demoday"
                            color="orange"
                          ></event-card>
                        </div>
                      </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Geçmiş Etkinlikleriniz">
                <div class="past-area">
                    <div class="d-flex justify-content-between">
                      <h2>Geçmiş Etkinlikleriniz</h2>
                    </div>
                    <div class="joined">
                      <div class="row">
                        <div class="col">
                          <event-card
                            title="Antalya Teknokent Demoday"
                            color="green"
                          ></event-card>
          
                          <event-card
                            title="Antalya Teknokent Demoday"
                            color="purple"
                          ></event-card>
                        </div>
                      </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</main-content>
