<div
  class="Group116"
  style="width: 264.26px; height: 160px; position: relative"
>
  <img
    class="Ellipse42"
    style="
      width: 158px;
      height: 158px;
      left: 52.63px;
      top: 2px;
      position: absolute;
      background: linear-gradient(
        95deg,
        #fbfbfc 0%,
        rgba(251, 251, 252, 0.4) 100%
      );
      box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.25);
      border-radius: 9999px;
      border: 0.5px solid;
      backdrop-filter: blur(10px);
    "
    src="
    /assets/img/Ellipse%2042.png"
  />
  <img
  class="Subtract"
  style="
    width: 193.01px;
    height: 110.49px;
    left: 35.78px;
    top: 27.94px;
    position: absolute;
  "
  src="../../../../../assets/img/Subtract.svg"
/>
  <div class="ring1">
    <img
    class="Subtract"
    style="
      width: 193.01px;
      height: 110.49px;
      left: 35.78px;
      top: 27.94px;
      position: absolute;
      visibility: hidden;
    "
    src="../../../../../assets/img/Subtract.svg"
  />
  </div>
  <img
  class="Subtract"
  style="
    width: 264.26px;
    height: 152.59px;
    left: 0px;
    top: 7.09px;
    position: absolute;
  "
  src="../../../../../assets/img/Subtract2.svg"
/>
  <div class="ring2">
    <img
    class="Subtract"
    style="
      width: 264.26px;
      height: 152.59px;
      left: 0px;
      top: 7.09px;
      position: absolute;
      visibility: hidden;
    "
    src="../../../../../assets/img/Subtract2.svg"
  />
  <div
    class="person1"
    style="
      width: 28px;
      height: 28px;
      left: 24.63px;
      top: 45px;
      position: absolute;
    "
  >
    <img
      class="HeroBase"
      style="
        width: 28px;
        height: 28px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: linear-gradient(
          180deg,
          #d6336c 0%,
          rgba(214, 51, 108, 0.4) 100%
        );
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        border-radius: 1000px;
        backdrop-filter: blur(40px);
      "
      src="/assets/img/HeroBase.png"
    />
    <div
      class=""
      style="
        width: 24.5px;
        height: 24.5px;
        padding: 4.08px;
        left: 1.75px;
        top: 1.75px;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <mat-icon
        class="Vector1"
        style="
          width: 16.33px;
          height: 16.33px;
          font-size: 16.33px;
          background: linear-gradient(
            180deg,
            white 0%,
            rgba(255, 255, 255, 0.4) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          backdrop-filter: blur(40px);
        "
        >person_outline</mat-icon
      >
    </div>
  </div>
  </div>
  
  <div
    class="Group105"
    style="
      width: 28px;
      height: 28px;
      left: 218.63px;
      top: 0px;
      position: absolute;
    "
  >
    <img
      class="HeroBase"
      style="
        width: 28px;
        height: 28px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: linear-gradient(
          180deg,
          #4263eb 0%,
          rgba(66, 99, 235, 0.4) 100%
        );
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        border-radius: 1000px;
        backdrop-filter: blur(40px);
      "
      src="/assets/img/HeroBase2.png"
    />
    <div
      class="person2"
      style="
        width: 24.5px;
        height: 24.5px;
        padding: 4.08px;
        left: 1.75px;
        top: 1.75px;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <mat-icon
        class="Vector"
        style="
          width: 16.33px;
          height: 16.33px;
          font-size: 16.33px;
          background: linear-gradient(
            180deg,
            white 0%,
            rgba(255, 255, 255, 0.4) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          backdrop-filter: blur(40px);
        "
        >person_outline</mat-icon
      >
    </div>
  </div>
  <div
    class="Group106"
    style="
      width: 28px;
      height: 28px;
      left: 94px;
      top: 120px;
      position: absolute;
    "
  >
    <img
      class="HeroBase"
      style="
        width: 28px;
        height: 28px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: linear-gradient(
          204deg,
          #f59f00 0%,
          rgba(245, 159, 0, 0.4) 100%
        );
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
        border-radius: 1000px;
        backdrop-filter: blur(40px);
      "
      src="/assets/img/HeroBase3.png"
    />
    <div
      class="person3"
      style="
        width: 24.5px;
        height: 24.5px;
        padding: 4.08px;
        left: 1.75px;
        top: 1.75px;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: inline-flex;
      "
    >
      <mat-icon
        class="Vector"
        style="
          width: 16.33px;
          height: 16.33px;
          font-size: 16.33px;
          background: linear-gradient(
            180deg,
            white 0%,
            rgba(255, 255, 255, 0.4) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          backdrop-filter: blur(40px);
        "
        >person_outline</mat-icon
      >
    </div>
  </div>
</div>
