.message-user {
  
  padding: 12px;
  background: var(--accent-1);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;

  border-radius: 7px;
  margin-right: 4px;
  margin-top: 4px;

  .message-text {
    color: #f1f3f5;
    font-family: Indivisible;
    font-weight: 500;
    word-wrap: break-word;
  }
}
