<ng-container *ngIf="auth.loggedIn">
  <navbar [drawer]="drawer"></navbar>
  <mat-drawer-container class="example-container">
    <mat-drawer
      class="mainMenu"
      #drawer
      style="width: 250px"
      mode="side"
      opened
    >
      <main-menu></main-menu>
    </mat-drawer>
    <mat-drawer-content style="min-height: 100vh">
      <div class="header">
        <div class="container">
          <h1 style="font-size: 32px;  color: #343A40;">abcçdefşiı</h1>
          <mat-tab-group>
            <mat-tab label="Ana Sayfa"> <projects-home></projects-home></mat-tab>
            <mat-tab label="Topluluklarımdan"> </mat-tab>
            <mat-tab label="Arkadaşlarımdan"> </mat-tab>
            <mat-tab label="Projelerim"> </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>
</ng-container>
