<div class="content container">
  <div class="d-flex justify-content-between">
    <h2>Katılımcı olduklarım</h2>
    <button mat-button color="primary">Hepsini gör</button>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngFor="let project of projects">
      <mat-card class="project-card z-elevation-0">
        <img class="project-image" [src]="project.image" alt="" />
        <div class="project-details">
          <h3>{{ project.name }}</h3>
          <div class="workers-area">
            <div class="workers">
              <img
                class="worker"
                *ngFor="let worker of project.workers; let i = index"
                [src]="worker.image"
                alt=""
                [style.z-index]="3 - i"
              />
              <div class="worker more-worker" [style.z-index]="0">+7</div>
            </div>
            <div class="workers-text">
              Elif Kemertaş, Ahmet Bahadır Nuroğlu ve 7 kişi daha sizinle
              çalışıyor
            </div>
          </div>
          <p class="status">
            20 Ocak 2023 - 30 Mart 2023 (Tahmini) • Devam Ediyor
          </p>
          <div class="description">
            <p>
              ALECTED topluluğu olarak otonom araç projesi üzerinde çalışıyoruz
            </p>
            <ul>
              <li>Otonom sistemlerin geliştirilmesi</li>
              <li>Görüntü işleme sistemlerinin optimizasyonu</li>
            </ul>
          </div>
          <div class="actions row">
            <div class="col-sm">
              <button
                style="width: 100%; background-color: #4b53f2"
                mat-raised-button
                color="primary"
                class="action mat-elevation-z0"
              >
                Detaylar
              </button>
            </div>
            <div class="col-sm">
              <button
                style="
                  width: 100%;
                  border-style: none;
                  background-color: #c9cbfb;
                  color: #4b53f2;
                "
                mat-raised-button
                color="accent"
                class="action mat-elevation-z0"
              >
                Projeden Ayrıl
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <info-card
    icon="people"
    title="Yeni Topluluklar Bulun"
    text="Farklı projeler yapan, yetenekli öğrencilerin bulunduğu toplulukları keşfedin, bir parçası olun ve devrim yaratacak yeni bir projenin öncüsü olun."
  ></info-card>
  <div class="d-flex justify-content-between mt-4">
    <h2>Önerilen Projeler</h2>
    <button mat-button color="primary">Hepsini gör</button>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngFor="let project of projects">
      <mat-card class="project-card z-elevation-0">
        <img class="project-image" [src]="project.image" alt="" />
        <div class="project-details">
          <h3>{{ project.name }}</h3>
          <div class="workers-area">
            <div class="workers">
              <img
                class="worker"
                *ngFor="let worker of project.workers; let i = index"
                [src]="worker.image"
                alt=""
                [style.z-index]="3 - i"
              />
              <div class="worker more-worker" [style.z-index]="0">+7</div>
            </div>
            <div class="workers-text">
              Elif Kemertaş, Ahmet Bahadır Nuroğlu ve 7 kişi daha sizinle
              çalışıyor
            </div>
          </div>
          <p class="status">
            20 Ocak 2023 - 30 Mart 2023 (Tahmini) • Devam Ediyor
          </p>
          <div class="description">
            <p>
              ALECTED topluluğu olarak otonom araç projesi üzerinde çalışıyoruz
            </p>
            <ul>
              <li>Otonom sistemlerin geliştirilmesi</li>
              <li>Görüntü işleme sistemlerinin optimizasyonu</li>
            </ul>
          </div>
          <div class="actions row">
            <div class="col-sm">
              <button
                style="width: 100%; background-color: #4b53f2"
                mat-raised-button
                color="primary"
                class="action mat-elevation-z0"
              >
                Detaylar
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
