.content {
  background-color: #f7f7f7;
}
.content .first {
  width: 100%;
  height: 65vh;
  position: relative;
}
.content .first .background {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
}
.content .first .background img {
  width: 100%;
  height: 100%;
}
.content .first .main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(247, 247, 247, 0.8352941176);
  color: #000;
  padding: 8%;
}
.content .first .main .row {
  margin-bottom: 5%;
}
.content .first .main .row .col-12 .mat-icon {
  color: orange;
}
.content .first .main .row .col-7 .date {
  font-size: 13px;
}
.content .first .main .row .col-7 .address {
  font-size: 11px;
  color: #495057;
}
.content .first .main .row .col-5 span {
  font-size: 10px;
  color: #495057;
}
.content .first .main .row .col-8 .title {
  font-size: 17px;
  font-weight: 600;
}
.content .first .main .row .col-8 .subtitle {
  font-size: 13px;
}
.content .first .main .row .col-4.setting {
  color: #5D64F3;
  margin: 0;
}
.content .first .main .row .col-4 {
  padding: 1%;
}
.content .first .main .row .col-4 .card {
  background-color: #FBFBFC;
  padding: 5%;
  border-radius: 5px;
}
.content .first .main .row .col-4 .card .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
  color: #495057;
  margin: 0 !important;
}
.content .first .main .row .col-4 .card .card-body .card-subtitle {
  margin-top: 5%;
}
.content .first .main .row .col-4 .card .card-body .card-subtitle h4 {
  margin: 0;
  font-size: 25px;
  color: #4B53F2;
}
.content .first .main .row .col-4 .card .card-body .card-subtitle .positive, .content .first .main .row .col-4 .card .card-body .card-subtitle .negative {
  border-radius: 20%;
}
.content .first .main .row .col-4 .card .card-body .card-subtitle .positive .mat-icon, .content .first .main .row .col-4 .card .card-body .card-subtitle .negative .mat-icon {
  font-size: 13px;
}
.content .first .main .row .col-4 .card .card-body .card-subtitle .positive {
  background-color: #EBFBEE;
  color: #37B24D;
}
.content .first .main .row .col-4 .card .card-body .card-subtitle .negative {
  background-color: #FFF5F5;
  color: #F03E3E;
}
.content .first .main .row .col-4 .card .card-body .card-text {
  margin-top: 15%;
  font-size: 13px;
}
.content .second {
  margin-top: 3%;
  padding: 3%;
  color: #000;
}
.content .second .row {
  margin-bottom: 5%;
}
.content .second .row .col-12 .mat-icon {
  color: orange;
}
.content .second .row .col-7 .date {
  font-size: 13px;
}
.content .second .row .col-7 .address {
  font-size: 11px;
  color: #495057;
}
.content .second .row .col-5 span {
  font-size: 10px;
  color: #495057;
}
.content .second .row .col-8 .title {
  font-size: 17px;
  font-weight: 600;
}
.content .second .row .col-8 .subtitle {
  font-size: 13px;
}
.content .second .row .col-4.setting {
  color: #5D64F3;
  margin: 0;
}
.content .second .row .col-4 {
  padding: 1%;
}
.content .second .row .col-4 .card {
  background-color: #FBFBFC;
  padding: 5%;
  border-radius: 5px;
}
.content .second .row .col-4 .card .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
  color: #495057;
  margin: 0 !important;
}
.content .second .row .col-4 .card .card-body .card-subtitle {
  margin-top: 5%;
}
.content .second .row .col-4 .card .card-body .card-subtitle h4 {
  margin: 0;
  font-size: 25px;
  color: #4B53F2;
}
.content .second .row .col-4 .card .card-body .card-subtitle .positive, .content .second .row .col-4 .card .card-body .card-subtitle .negative {
  border-radius: 20%;
}
.content .second .row .col-4 .card .card-body .card-subtitle .positive .mat-icon, .content .second .row .col-4 .card .card-body .card-subtitle .negative .mat-icon {
  font-size: 13px;
}
.content .second .row .col-4 .card .card-body .card-subtitle .positive {
  background-color: #EBFBEE;
  color: #37B24D;
}
.content .second .row .col-4 .card .card-body .card-subtitle .negative {
  background-color: #FFF5F5;
  color: #F03E3E;
}
.content .second .row .col-4 .card .card-body .card-text {
  margin-top: 15%;
  font-size: 13px;
}/*# sourceMappingURL=admin-home.component.css.map */