<div class="company-card">
  <div class="company-header">
    <div class="company-title">Şirket</div>
  </div>
  <div class="company-content">
    <img src="../../../../../assets/img/ps3.jpeg" alt="Company Logo" class="company-logo" />
    <div class="company-info">
      <div class="company-info-header">
        <div class="company-name">
          PlayStation Türkiye
          <div class="company-verified">
            <div class="verified-icon"></div>
          </div>
        </div>
      </div>
      <div class="company-info-description">Pushing the Boundaries of Play</div>
      <div class="company-info-stats">
        <span class="company-industry">Eğlence Sektörü Şirketi</span>
        <span class="company-followers">Takipçi</span>
        <span class="company-separator">•</span>
        <span class="company-followers-count">145</span>
      </div>
    </div>
  </div>
  <div class="company-actions">
    <div class="action-item">
      <div class="action-icon green">	<mat-icon>check</mat-icon></div>
      <div class="action-text">Seçimlerinize uyuyor • <br>Yüz Yüze Etkinlikler</div>
    </div>
    <div class="action-item">
      <div class="action-icon green">	<mat-icon>check</mat-icon></div>
      <div class="action-text">Seçimlerinize uyuyor • <br>30km Mesafe İçinde</div>
    </div>
    <div class="action-item">
      <div class="action-icon" style="color: #F03E3E;">	<mat-icon>close</mat-icon></div>
      <div class="action-text">Seçimlerinize uyuyor • <br>Ücretsiz Katılım</div>
    </div>
  </div>
  <div class="company-rating">
    <div class="rating-circle">
      <div class="rating-number">9</div>
      <div class="rating-total">/10</div>
    </div>
  </div>
  <div class="company-footer">
    <div class="footer-icon"><mat-icon>favorite_border</mat-icon></div>
    <div class="footer-divider"></div>
    <div class="footer-icon"><mat-icon>turned_in_not</mat-icon></div>
    <div class="footer-divider"></div>
    <div class="footer-icon"><mat-icon>more_horiz</mat-icon></div>
  </div>
</div>
