.header {
    border-bottom: 0.1px solid #dee2e6;
    margin-top: 4%;
  }
  
  h1{
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .content {
    margin-top: 4%;
  }
  
  .joined {
    width: 100%;
    margin-top: -2%;
  
    .company {
      position: relative;
      color: var(--text);
      padding: 0;
      border-radius: 12px;
  
      .backdrop {
        border-radius: 20px;
        width: 100%;
        height: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0, -50%);
      }
  
      .name {
        font-weight: 600;
        margin: 16px 16px 0px 16px;
      }
  
      .short-desc {
        font-weight: 500;
        font-size: 14px;
        margin: 8px 16px 0px 16px;
      }
  
      .role {
        font-size: 12px;
        font-weight: 500;
        color: var(--info-text);
        margin: 8px 16px 16px 16px;
      }
    }
  }