.bg {
    background-color: var(--surface-1);
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    min-width: 100%;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}