<div class="intern-card">
    <div class="intern-header">
        <div class="intern-title">İlan</div>
    </div>
    <div class="intern-content">
        
        <div class="intern-details">
            <div class="intern-name">İnsan Kaynakları Stajı</div>
            <div class="intern-description">
                <div class="intern-date">
                    <div class="date-longText">
                        Turkcell, Türkiye'nin önde gelen telekomünikasyon şirketlerinden biridir ve çalışanlarına yüksek değer verir. ....

                    </div>
                </div>
                <div class="intern-info d-flex align-items-center">
                    <div class="pc-icon"><mat-icon> laptop_mac</mat-icon></div>
                    <div class="pc-text m-2">Uzaktan • Staj • 2 Ay</div>
                </div>
            </div>
        </div>
    </div>
    <div class="intern-actions">
        <div class="action-item">
          <div class="action-icon green">	<mat-icon>check</mat-icon></div>
          <div class="action-text">Seçimlerinize uyuyor • <br>Yüz Yüze Etkinlikler</div>
        </div>
        <div class="action-item">
          <div class="action-icon green">	<mat-icon>check</mat-icon></div>
          <div class="action-text">Seçimlerinize uyuyor • <br>30km Mesafe İçinde</div>
        </div>
        <div class="action-item">
          <div class="action-icon" style="color: #F03E3E;">	<mat-icon>close</mat-icon></div>
          <div class="action-text">Seçimlerinize uyuyor • <br>Ücretsiz Katılım</div>
        </div>
        <div class="intern-rating">
            <div class="rating-circle">
                <div class="rating-number">9</div>
                <div class="rating-total">/10</div>
            </div>
        </div>
    </div>
    <div class="intern-footer">
        <div class="footer-icon"><mat-icon>favorite_border</mat-icon></div>
        <div class="footer-divider"></div>
        <div class="footer-icon"><mat-icon>turned_in_not</mat-icon></div>
        <div class="footer-divider"></div>
        <div class="footer-icon"><mat-icon>more_horiz</mat-icon></div>
    </div>
</div>