.projects {
  display: block;
  justify-content: start;
  align-items: start;
  text-align: left;
  padding: 0px;
  gap: 16px;
  width: 100%;
  .text-container {
    width: 100%;
    p {
      font-weight: 500;
      justify-content: center;
      align-items: center;
      text-align: left;
      font-size: 20px;
      color: var(--text);
      letter-spacing: 0.2px;
      margin-top: 30px;
      padding: 10px 0;
      span {
        font-weight: 400;
        font-size: 20px;
        color: var(--sub-text);
        line-height: 20px;
      }
    }
    a {
      justify-content: end;
      text-align: right;
      float: right;
      font-size: 16px;
      text-decoration: none;
    }
  }
}

.joined {
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  text-align: left;

  .events-card {
    padding: 0;
    display: flex;
    width: 100%;
    height: 90vh;
    margin: 0 2%;
    border-radius: 7px;

    &.blue {
      .color {
        background-color: #4b53f2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .mat-icon {
        color: #4b53f2;
      }
    }
    &.red {
      .color {
        background-color: #f03e3e;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .mat-icon {
        color: #f03e3e;
      }
    }
    &.purple {
      .color {
        background-color: #7a59a4;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .mat-icon {
        color: #7a59a4;
      }
    }
    .color {
      width: 10%;
      height: 100%;
      border-radius: 7px 0 0 7px;
    }

    .container {
      padding: 0 !important;
      width: 100%;
      height: 100%;

      .image {
        width: 100%;
        height: 20%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .eventActions {
        position: absolute;
        width: 85%;
        bottom: 0;
      }
    }

    //Bulunmayan
    .event {
      width: 100%;
      padding: 6% 4% 0 4%;
      border-radius: 0 7px 7px 0;

      .eventTitle div {
        margin: 0;
      }
      .eventContent {
        margin-top: 5%;
        font-size: 18px;
        letter-spacing: 0.2px;

        .creater {
          margin: 10% 0;
          display: flex;
          align-items: center;

          .logos {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            height: 71px;
            border: 1px solid rgba(73, 80, 87, 0.25);
            border-radius: 2px;

            img {
              width: 100%;
              height: 50%;

              &:nth-child(1) {
                border-bottom: 1px solid black;
              }
            }
          }
          p {
            margin: 0 0 0 2%;
          }
        }
        .date,
        .time,
        .location,
        .participant {
          display: flex;
          align-items: center;
          margin: 3% 0;
          p {
            width: 90%;
            margin: 0 0 0 2%;
          }
        }
      }
      .eventActions {
        position: absolute;
        width: 85%;
        bottom: 0;
        display: flex;
        justify-content: space-between;

        .description {
          display: flex;
          align-items: end;
          color: #868e96;

          p {
            margin: 0;
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;

          button {
            display: flex;
            justify-content: center;
            border-radius: 7px;
            font-weight: 600;
            margin: 2% 0;

            .mat-icon {
              color: #fbfbfc;
            }

            &:nth-child(1) {
              background: #4b53f2;
              border: 1px solid #444bda;
              color: #fbfbfc;
            }
            &:nth-child(2) {
              background: #dbddfc;
              border: 1px solid #c9cbfb;
              color: #4b53f2;
            }
          }
        }
      }
    }
  }
}

.dark {
  background-color: var(--surface-1) !important;
}

.project-card {
  position: relative;
  display: block;
  padding: 16px;
  margin: 8px;
  border: 1px solid var(--surface-2);
  border-radius: 7px;
  box-shadow: none;

  .project-image {
    position: relative;
    width: calc(100% - 32px);
    border-radius: 4px;
    margin: 16px 16px;
  }

  .project-details {
    margin: 8px;

    .status {
      color: var(--sub-text);
      margin: 8px 16px;
      text-align: left;
    }

    .description {
      margin: 8px 16px;
    }

    .actions {
      margin-top: 16px;
    }

    h3 {
      margin: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      /* identical to box height, or 100% */

      display: flex;
      align-items: left;
      text-align: left;

      /* Gray/Dark */

      color: var(--text);
    }

    .workers-area {
      display: flex;
      margin: 16px 8px;
      width: 100%;
      .workers {
        display: flex;
        margin: 0px 8px;

        .worker {
          box-sizing: border-box;

          width: 24px;
          height: 24px;
          /* Profile Stroke */

          border: 1px solid rgba(73, 80, 87, 0.25);
          border-radius: 50%;

          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0px -4px;
        }

        .more-worker {
          background-color: #4b53f2;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
      .workers-text {
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: -0.25px;
      }
    }
    .workers-text {
      margin: 0px 8px;
      font-size: 14px;
      text-align: left;
      span {
        color: #37b24d;
      }
    }
  }
}


