.projects {
  display: block;
  justify-content: start;
  align-items: start;
  text-align: left;
  padding: 0px;
  gap: 16px;
  width: 100%;
}
.projects .text-container {
  width: 100%;
}
.projects .text-container p {
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 20px;
  color: var(--text);
  letter-spacing: 0.2px;
  margin-top: 30px;
  padding: 10px 0;
}
.projects .text-container p span {
  font-weight: 400;
  font-size: 20px;
  color: var(--sub-text);
  line-height: 20px;
}
.projects .text-container a {
  justify-content: end;
  text-align: right;
  float: right;
  font-size: 16px;
  text-decoration: none;
}

.joined {
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  text-align: left;
}
.joined .events-card {
  padding: 0;
  display: flex;
  width: 100%;
  height: 90vh;
  margin: 0 2%;
  border-radius: 7px;
}
.joined .events-card.blue .color {
  background-color: #4b53f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.joined .events-card.blue .mat-icon {
  color: #4b53f2;
}
.joined .events-card.red .color {
  background-color: #f03e3e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.joined .events-card.red .mat-icon {
  color: #f03e3e;
}
.joined .events-card.purple .color {
  background-color: #7a59a4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.joined .events-card.purple .mat-icon {
  color: #7a59a4;
}
.joined .events-card .color {
  width: 10%;
  height: 100%;
  border-radius: 7px 0 0 7px;
}
.joined .events-card .container {
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
.joined .events-card .container .image {
  width: 100%;
  height: 20%;
}
.joined .events-card .container .image img {
  width: 100%;
  height: 100%;
}
.joined .events-card .container .eventActions {
  position: absolute;
  width: 85%;
  bottom: 0;
}
.joined .events-card .event {
  width: 100%;
  padding: 6% 4% 0 4%;
  border-radius: 0 7px 7px 0;
}
.joined .events-card .event .eventTitle div {
  margin: 0;
}
.joined .events-card .event .eventContent {
  margin-top: 5%;
  font-size: 18px;
  letter-spacing: 0.2px;
}
.joined .events-card .event .eventContent .creater {
  margin: 10% 0;
  display: flex;
  align-items: center;
}
.joined .events-card .event .eventContent .creater .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 71px;
  border: 1px solid rgba(73, 80, 87, 0.25);
  border-radius: 2px;
}
.joined .events-card .event .eventContent .creater .logos img {
  width: 100%;
  height: 50%;
}
.joined .events-card .event .eventContent .creater .logos img:nth-child(1) {
  border-bottom: 1px solid black;
}
.joined .events-card .event .eventContent .creater p {
  margin: 0 0 0 2%;
}
.joined .events-card .event .eventContent .date,
.joined .events-card .event .eventContent .time,
.joined .events-card .event .eventContent .location,
.joined .events-card .event .eventContent .participant {
  display: flex;
  align-items: center;
  margin: 3% 0;
}
.joined .events-card .event .eventContent .date p,
.joined .events-card .event .eventContent .time p,
.joined .events-card .event .eventContent .location p,
.joined .events-card .event .eventContent .participant p {
  width: 90%;
  margin: 0 0 0 2%;
}
.joined .events-card .event .eventActions {
  position: absolute;
  width: 85%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.joined .events-card .event .eventActions .description {
  display: flex;
  align-items: end;
  color: #868e96;
}
.joined .events-card .event .eventActions .description p {
  margin: 0;
}
.joined .events-card .event .eventActions .buttons {
  display: flex;
  flex-direction: column;
}
.joined .events-card .event .eventActions .buttons button {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  font-weight: 600;
  margin: 2% 0;
}
.joined .events-card .event .eventActions .buttons button .mat-icon {
  color: #fbfbfc;
}
.joined .events-card .event .eventActions .buttons button:nth-child(1) {
  background: #4b53f2;
  border: 1px solid #444bda;
  color: #fbfbfc;
}
.joined .events-card .event .eventActions .buttons button:nth-child(2) {
  background: #dbddfc;
  border: 1px solid #c9cbfb;
  color: #4b53f2;
}

.dark {
  background-color: var(--surface-1) !important;
}

.project-card {
  position: relative;
  display: block;
  padding: 16px;
  margin: 8px;
  border: 1px solid var(--surface-2);
  border-radius: 7px;
  box-shadow: none;
}
.project-card .project-image {
  position: relative;
  width: calc(100% - 32px);
  border-radius: 4px;
  margin: 16px 16px;
}
.project-card .project-details {
  margin: 8px;
}
.project-card .project-details .status {
  color: var(--sub-text);
  margin: 8px 16px;
  text-align: left;
}
.project-card .project-details .description {
  margin: 8px 16px;
}
.project-card .project-details .actions {
  margin-top: 16px;
}
.project-card .project-details h3 {
  margin: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: left;
  text-align: left;
  /* Gray/Dark */
  color: var(--text);
}
.project-card .project-details .workers-area {
  display: flex;
  margin: 16px 8px;
  width: 100%;
}
.project-card .project-details .workers-area .workers {
  display: flex;
  margin: 0px 8px;
}
.project-card .project-details .workers-area .workers .worker {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  /* Profile Stroke */
  border: 1px solid rgba(73, 80, 87, 0.25);
  border-radius: 50%;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px -4px;
}
.project-card .project-details .workers-area .workers .more-worker {
  background-color: #4b53f2;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.project-card .project-details .workers-area .workers-text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.25px;
}
.project-card .project-details .workers-text {
  margin: 0px 8px;
  font-size: 14px;
  text-align: left;
}
.project-card .project-details .workers-text span {
  color: #37b24d;
}/*# sourceMappingURL=search-projects.component.css.map */