<div class="container-popular">
    <div class="texts">
        <h3>Konumunuzda Popüler</h3>
        <p>Ankara içerisinde popüler olan keşiflerden ilginizi çekebileceğini düşündüklerimiz.</p>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="text-center">
                <button mat-icon-button><mat-icon>chevron_left</mat-icon></button>
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-md-4">
                        <person-card></person-card>
                    </div>
                    <div class="col-md-4">
                        <project-post-card></project-post-card>
                    </div>
                    <div class="col-md-4">
                        <events-card></events-card>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button mat-icon-button><mat-icon>chevron_right</mat-icon></button>
            </div>
        </div>
    </div>    
</div>       