@mixin colors() {
    --toolbar-color : white;
    --icon-color: rgba(0, 0, 0, 0.8);
    
    --surface-1 : #fbfbfc;
    --surface-2 : #fff;
    --accent-1 : #472183;

    // Texts
    --sub-text : #868e96;
    --text : #343a40;
    --info-text : #868e96;

    // Menu

    --menu-hover : #EDEEFE;

    // Stroke
    --stroke : #dee2e6;


}