<navbar></navbar>


  <div  class="main-panel">
    <div class="row">
      <div class="col-sm-6">
        <img class="ill" src="assets/img/ill-02.svg">
      </div>

      <div class="col-sm-6 panel center">
        <div style="display: block;">
          <div class="container right-panel">

            <h1 class="animate">Üniversiteliler<br>ve Girişimciler<br> burada!</h1>

            <div class="center">
              <button class="login-button">Sen de Katıl!</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row mid-panel-1">
      <div class="col-sm-6">
        <h1 class="animate">
          Sizin için en uygun topluluğu bulun.
        </h1>
      </div>
      <div class="col-sm-6">
        <h1 class="animate">
          Tüm girişim ve projeleri kolayca takip edin.
        </h1>
      </div>
    </div>
    <div class="row mid-panel-2">
      <div class="col-sm-4">
        <h1 class="animate">
          Milyonlarca Öğrenci İle Buluşun
        </h1>
        <p  class="animate">
          ÖSFAİÖSAFLASFAFS
        </p>
      </div>
      <div class="col-sm-4">
        <h1  class="animate">
          Milyonlarca Öğrenci İle Buluşun
        </h1>
        <p  class="animate">
          ÖSFAİÖSAFLASFAFS
        </p>
      </div>
      <div class="col-sm-4">
        <h1  class="animate">
          Milyonlarca Öğrenci İle Buluşun
        </h1>
        <p  class="animate">
          ÖSFAİÖSAFLASFAFS
        </p>
      </div>
    </div>
    <div class="row bottom-panel">
      <div class="col-sm-6">
        <h1 class="animate">Unilocked Kimler İçin</h1>
        <h3 class="animate">Öğrenci hayatını dolu dolu yaşamak isteyen herkes.</h3>
        <div class="for-whom">
          <div class="item">
            <span>Üniversite topluluklarını keşfedin</span> <div class="spacer"></div> <mat-icon>chevron_right</mat-icon>
          </div>
          <div class="item">
           <span> Projeleri bulun ve katılın</span> <div class="spacer"></div>  <mat-icon>chevron_right</mat-icon>
          </div>
          <div class="item">
            <span>Projeniz için ortaklar bulun</span> <div class="spacer"></div>  <mat-icon>chevron_right</mat-icon>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <img class="ill" src="assets/img/img-1.jpg" alt="">
      </div>
    </div>
  </div>


