@import url("../../../../common/animations.scss");

.guest-homepage {
  background-color: #f1f3f5;
  .top-bar {
    height: 100vh;
    padding: 2% 5%;

    .navbar {
      .logo {
        img {
          width: 150px;
        }
      }

      .menu-list {
        width: 40%;

        ul {
          padding: 0;

          li {
            list-style-type: none;
            &:last-child {
              a {
                color: #fcc419;
                font-style: italic;
              }
            }
            a {
              text-decoration: none;
              font-weight: 600;
              color: #495057;
              font-size: 18px;
            }
          }
        }
      }

      .login-btn {
        width: 16%;

        a {
          font-size: 16px;
          text-decoration: none;
        }
      }
    }

    .top-title {
      height: 95%;

      .left {
        margin-left: 5%;
        height: 75%;
        // hide on mobile
        @media (max-width: 768px) {
          display: none !important;
        }

        div {
          position: relative;
          height: 100%;

          img {
            position: absolute;
            height: 75%;

            &:nth-child(1) {
              right: 0;
            }
            &:nth-child(2) {
              bottom: 0;
            }
          }
        }
      }

      .right {
        height: 80%;
        // hide on mobile
        @media (max-width: 768px) {
          display: none !important;
        }

        .paragraph {
          h1 {
            font-size: 85px;
            color: #624783;
            line-height: 80px;
          }
          p {
            font-size: 18px;
          }
          h1,
          p {
            font-weight: 600;
          }
        }

        .cards {
          display: flex;
          justify-content: space-between;
          margin-top: 5%;
          width: 98%;

          .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 49%;
            padding: 3%;
            color: #f1f3f5;
            border-radius: 20px;

            &:nth-child(1) {
              background-color: #624783;
            }
            &:nth-child(2) {
              background-color: #3c42c2;
            }

            h2 {
              margin: 0;
            }
            p {
              color: #e4deed;
              margin-bottom: 20%;
            }
            a {
              display: flex;
              width: 95%;
              justify-content: space-between;
              align-items: center;
              color: #f1f3f5;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .content {
    background-color: #f1f3f5;
    margin-top: 10%;

    .row {
      margin-bottom: 10%;
      .col-3 {
        .end {
          text-align: end;
        }
        p {
          font-weight: 600;
          font-size: 15px;
        }
        .login {
          a {
            text-decoration: none;
            font-weight: 600;
          }
          p {
            margin-bottom: 0;
            font-weight: 500;
          }

          button {
            background-color: #7a59a4;
            color: #f1f3f5;
            border-radius: 5px;
            border: none;
            padding: 2% 5%;

            .mat-icon {
              font-size: 15px;
              display: flex;
              align-items: center;
              justify-content: end;
            }
          }
        }
      }

      .col-5 {
        .community {
          margin: 0 0 2% 0;
          width: 85%;
          padding: 4%;
          border-radius: 7px;
          background: linear-gradient(
            180deg,
            #f1f3f5 0%,
            rgba(241, 243, 245, 0.4) 100%
          );
          background-blend-mode: overlay, normal;
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(20px);

          &:nth-child(2) {
            width: 90%;
            margin-left: 10%;
            background: linear-gradient(
              268.78deg,
              #fff3bf 0.66%,
              rgba(255, 243, 191, 0.1) 99.45%
            );
          }

          .logo {
            width: 15%;
            border-radius: 50%;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .info {
            width: 80%;

            .name {
              font-size: 18px;
              font-weight: 600;
            }
            .school .color-purple {
              color: #4b53f2;
            }
          }
        }

        .title {
          font-size: 40px;
          font-weight: 900;
          line-height: 50px;
          border-bottom: 3px solid #7a59a4;
          border-radius: 10px;
        }
        .subtitle {
          margin-top: 5%;
          font-size: 18px;
        }
        a {
          margin-top: 5%;
          width: 35%;
          text-decoration: none;
          color: #7a59a4;

          p {
            margin: 0;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }

      &:nth-child(2) {
        .col-5 {
          &:nth-child(2) {
            .title,
            .subtitle {
              text-align: end;
              border-radius: 10px;
            }
          }

          &:nth-child(3) {
            .card {
              margin-left: 15%;
              width: 70%;
              padding: 4%;
              background: linear-gradient(
                210.14deg,
                #f1f3f5 12.44%,
                rgba(241, 243, 245, 0.4) 92.28%
              );
              box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
              backdrop-filter: blur(20px);
              border-radius: 7px;

              .img {
                position: absolute;
                top: -15%;
                left: -15%;
              }

              .title {
                font-size: 18px;
                margin-top: 45%;
                line-height: 25px;
                border: none;
              }
              .friends {
                .users {
                  .mat-icon {
                    background-color: #fff;
                    border-radius: 50%;
                    &:nth-child(1) {
                      color: #d6336c;
                    }
                    &:nth-child(2) {
                      color: #4263eb;
                      margin-left: -15%;
                    }
                    &:nth-child(3) {
                      color: #f59f00;
                      margin-left: -10%;
                    }
                  }
                }
                p {
                  margin: 0;
                }
              }
              .subtitle {
                img {
                  width: 10%;
                  border-radius: 50%;
                }
                p {
                  margin: 0 2%;
                  font-size: 13px;
                  font-weight: 600;
                }
              }
              .buttons {
                margin-top: 5%;
                button {
                  width: 45%;
                  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
                  backdrop-filter: blur(20px);
                  border-radius: 7px;

                  &:nth-child(1) {
                    color: #f1f3f5;
                    background: linear-gradient(
                      95.43deg,
                      #4b53f2 10.56%,
                      rgba(75, 83, 242, 0.4) 105.1%
                    );
                  }
                  &:nth-child(2) {
                    background: linear-gradient(
                      264.83deg,
                      #dbddfc 8.91%,
                      rgba(219, 221, 252, 0.4) 104.12%
                    );
                  }
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        .col-5 {
          .community {
            width: 85%;
            &:nth-child(1) {
              margin-left: 6%;
            }
            &:nth-child(2) {
              margin-left: 3%;
              background: linear-gradient(
                180deg,
                #f1f3f5 0%,
                rgba(241, 243, 245, 0.4) 100%
              );
            }
            .logo {
              img {
                border-radius: 10px;
              }
            }

            .friends {
              .users {
                .mat-icon {
                  background-color: #fff;
                  border-radius: 50%;
                  &:nth-child(1) {
                    color: #d6336c;
                  }
                  &:nth-child(2) {
                    color: #4263eb;
                    margin-left: -15%;
                  }
                  &:nth-child(3) {
                    color: #f59f00;
                    margin-left: -10%;
                  }
                }
              }
              p {
                margin: 0;
              }
            }

            .work {
              .title {
                border: none;
                line-height: 25px;

                b {
                  font-size: 16px;
                }

                p {
                  margin: 0;
                  font-size: 13px;
                  font-weight: 500;
                  color: #868e96;
                }
              }

              .button {
                width: 35%;

                button {
                  width: 100%;
                  height: 80%;
                  color: #dbddfc;
                  text-align: end;
                  background: linear-gradient(
                    95.43deg,
                    #4b53f2 10.56%,
                    rgba(75, 83, 242, 0.4) 105.1%
                  );
                  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
                  backdrop-filter: blur(20px);
                }
              }
            }
          }

          a {
            &:nth-child(4) {
              margin-top: 1%;
              color: #4b53f2;
            }
          }
        }
      }

      &:nth-child(4) {
        .col-10 {
          padding: 3% !important;
          background: linear-gradient(
            207.42deg,
            #7a59a4 35.84%,
            rgba(122, 89, 164, 0.4) 115.16%
          );
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(20px);
          border-radius: 7px;
          z-index: 2;

          .row {
            margin-bottom: 0;

            &:nth-child(2) {
              margin-top: 5%;
            }
            .col {
              transition: all 0.5s ease-in-out;
              user-select: none;
              cursor: pointer;
              padding: 1%;
              color: #fbfbfc;
              border-radius: 8px;

              .title {
                display: inline-block;
                background-color: #f1f3f5;
                padding: 1% 2%;
                color: #7a59a4;
                border-radius: 5px;

                p {
                  margin: 0;
                }
              }
              .subtitle {
                margin-top: 2%;
              }

              &.active {
                background-color: #624783;
              }

              h3 {
                font-size: 30px;
                font-weight: 900;
                width: 65%;
              }
            }

            .col-6 {
              &:nth-child(1) {
                padding: 2% 2% 0 2%;
                background-color: #dbddfc;
                border-radius: 5px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              &:nth-child(2) {
                padding-left: 5%;
                .title {
                  width: 50%;
                  h2 {
                    font-size: 40px;
                    font-weight: 900;
                    color: #f1f3f5;
                  }
                }
                .subtitle {
                  color: #e9ecef;
                  font-size: 18px;
                  margin-top: 5%;
                }
                a {
                  margin-top: 15%;
                  color: #e9ecef;
                  font-size: 18px;
                  font-weight: 600;
                  width: 45%;
                  text-decoration: none;

                  p {
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }

      &:nth-child(5) {
        .col-5 {
          .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fbfbfc;
            border: 1px solid #e9ecef;
            border-radius: 40%;
            padding: 5%;

            img {
              width: 70%;
            }
          }
        }
        .col-5 {
          .title {
            width: 65%;
            text-align: end;
            font-size: 32px;
            color: #212529;
            border: none;
          }

          .subtitle {
            text-align: end;
            color: #876aad;
          }

          .links {
            button {
              background-color: #7a59a4;
              color: #f1f3f5;
            }
            a {
              width: 80%;
            }
          }
        }
      }

      &:nth-child(6) {
        h3 {
          color: #876aad;
        }
        h1 {
          font-size: 35px;
          color: #212529;
          font-weight: 900;
        }

        .col-2 {
          margin: 1%;
          padding: 2%;
          background: linear-gradient(
            220.07deg,
            #f1f3f5 0%,
            rgba(241, 243, 245, 0.4) 100%
          );
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(20px);
          border-radius: 7px;

          .count {
            width: 70%;
            p {
              color: #212529;
              font-weight: 700;
            }
            h2 {
              font-size: 25px;
              font-weight: 600;
              margin: 0;
            }
            h2 {
              color: #7a59a4 !important;
            }
          }
          .mat-icon {
            display: flex;
            align-items: center;
            width: 25%;
            height: 100%;
            font-size: 50px;
          }

          &.community {
            .count {
              h2 {
                color: #7a59a4;
              }
            }
            .mat-icon {
              color: #7a59a4;
            }
          }

          &.company {
            .count {
              h2 {
                color: #4b53f2 !important;
              }
            }
            .mat-icon {
              color: #4b53f2 !important;
            }
          }

          &.work {
            background: linear-gradient(
              220.07deg,
              #7a59a4 0%,
              rgba(122, 89, 164, 0.4) 100%
            );

            &.primary {
              background: linear-gradient(
                103.38deg,
                #4b53f2 0%,
                rgba(75, 83, 242, 0.4) 100%
              );
            }
            .count {
              h1,
              h3,
              a p,
              a .mat-icon {
                color: #fbfbfc;
                margin: 0;
              }
              h1 {
                font-weight: 900;
              }

              a {
                margin-top: 10%;
                text-decoration: none;
                p {
                  font-size: 13px;
                }
                .mat-icon {
                  font-size: 24px;
                }
              }
            }

            .mat-icon {
              color: #f1f3f5;
            }
          }
        }
      }

      &:nth-child(7) {
        .col-10 {
          padding: 5% 3%;
          display: flex;
          border-radius: 7px;
          border: 1px solid #7a59a4;
          background: linear-gradient(
            221deg,
            #7a59a4 0.58%,
            #7a59a4 71.31%,
            rgba(122, 89, 163, 0.7) 90.12%
          );
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(20px);

          .col-5 {
            .title {
              width: 65%;
              font-size: 32px;
              color: #fbfbfc;
              border: none;
              line-height: 35px;
            }

            .subtitle {
              color: #e4deed;
            }

            .links {
              width: 80%;
              button {
                color: #7a59a4;
                background-color: #e9ecef;
              }
              a {
                width: 40%;
                margin: 0;
                color: #e4deed;
              }
            }
          }
          .col-7 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            .logo {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 2%;

              img {
                width: 60%;
                filter: grayscale(100%);
              }
            }
          }
        }
      }

      &:nth-child(8) {
        .col-5 {
          &:nth-child(2) {
            h1 {
              width: 60%;
              font-size: 45px;
              line-height: 50px;
              font-weight: 900;
            }
            .mat-icon {
              font-size: 50px;
              width: 10%;
              height: 90%;
              display: flex;
              justify-content: center;
              color: #7a59a4;
            }
          }

          &:nth-child(3) {
            form {
              width: 85%;
              .inputs {
                input {
                  border: none;
                  border-radius: 5px;
                  padding: 2%;

                  &:focus {
                    outline: none;
                  }
                }
                button {
                  background-color: #6e5094;
                  color: #ffffff;
                }
              }
              .box {
                margin-top: 5%;
                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .footer {
    background-color: #212529;
    padding: 5% 10% 2% 10%;

    .top {
      img {
        width: 15%;
        height: 100%;
      }

      .social {
        width: 15%;
        a {
          img {
            width: 90%;
            height: 85%;
          }
        }
      }
    }

    .mid {
      margin-top: 5%;

      .links {
        width: 55%;

        .link {
          .title {
            color: #b7bafa;
            font-size: 20px;
            font-weight: 600;
          }
          ul {
            list-style-type: none;
            padding: 0;

            li {
              color: #ffffff;
              font-size: 15px;
              margin-bottom: 5%;
            }
          }
        }
      }
      .language {
        width: 15%;

        select {
          width: 100%;
          padding: 5% 2%;
          background-color: #343a40;
          border: none;
          border-radius: 5px;
          color: #ffffff;
        }
      }
    }

    .bottom {
      margin-top: 3%;

      ul {
        list-style-type: none;
        width: 70%;
        padding: 0;

        li {
          &:nth-child(1) {
            color: #ffffff;
          }
          a {
            text-decoration: none;
            color: #6f75f5;
          }
        }
      }
    }
  }
}
