.project-card {
    position: relative;
    display: block;
    padding: 16px;
    margin: 8px;
    border: 1px solid var(--surface-2);
    border-radius: 7px;
    box-shadow: none;
  
  
    .project-image {
      position: relative;
      width: calc(100% - 32px);
      border-radius: 4px;
      margin: 16px 16px;
    }
  
    .project-details {
      margin: 8px;
  
  
      .status {
        color: var(--sub-text);
        margin: 8px 16px;
      }
  
      .description {
        margin: 8px 16px;
      }
  
      .actions {
        margin-top: 16px;
      }
  
      h3 {
        margin: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */
  
        display: flex;
        align-items: center;
  
        /* Gray/Dark */
  
        color: var(--text);
      }
  
      .workers-area {
        display: flex;
        margin: 16px 8px;
        width: 100%;
  
  
  
  
        .workers {
          display: flex;
          margin: 0px 8px;
  
          .worker {
            box-sizing: border-box;
  
            width: 24px;
            height: 24px;
            /* Profile Stroke */
  
            border: 1px solid rgba(73, 80, 87, 0.25);
            border-radius: 50%;
  
            /* Inside auto layout */
  
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px -4px;
          }
  
          .more-worker {
            background-color: #4b53f2;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
  
          }
        }
      .workers-text {
        margin: 0px 8px;
        font-size: 16px;
        line-height: 1em;
      }
      }
    }
  }

  .dark {
    background-color: var(--surface-1) !important;
  }