<navbar [drawer]="drawer"></navbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="mainMenu" #drawer style="width: 250px;" mode="side" opened>

    <main-menu></main-menu>

  </mat-drawer>
  <mat-drawer-content>
    <div class="home-area">
      <div class="home-child">
        <div class="row">

          <div class="col-lg-8">
            <mat-card class="home-panel mat-elevation-z0">
              <div class="write-post-container">
                <img
                  class="profile-image"
                  [src]="auth.user.avatar"
                  alt=""
                />
                <mat-form-field appearance="outline">
                  <mat-label>Bir paylaşım yapın...</mat-label>
                  <input matInput placeholder="Bir şeyler yaz..." />
                  <mat-icon matSuffix>send</mat-icon>
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-center">
                <mat-button-toggle-group
                  name="fontStyle"
                  aria-label="Font Style"
                >
                  <mat-button-toggle value="bold"
                    ><mat-icon>camera</mat-icon> Fotoğraf</mat-button-toggle
                  >
                  <mat-button-toggle value="italic"
                    ><mat-icon>movie</mat-icon> Video</mat-button-toggle
                  >
                  <mat-button-toggle value="underline"
                    ><mat-icon>event</mat-icon> Etkinik</mat-button-toggle
                  >
                </mat-button-toggle-group>
              </div>
              <br /><br />
            </mat-card>
            <br />
            <hr />
          </div>
          <div class="col-lg-4">
            <mat-card class="home-panel mat-elevation-z0">
              <div class="right-panel">
                <h2>Tanıyor olabilirsin</h2>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
