.mat-drawer-container {
  background-color: var(--surface-1);
}

.home-area {
  width: 100%;
  display: flex;
  justify-content: center;
  .home-child {
    display: block;
    margin: 24px;
    max-width: 1200px;
    width: 100%;

    .col-lg-4 {
      @media screen and (max-width: 1200px) {
        display: none !important;
      }
    }

    .home-panel {
      border-radius: 12px;
      padding: 0;
      .profile-background {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      .right-panel {
        padding: 12px;

        .see-more {
          display: flex;
          justify-content: flex-end;
        }

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 12px 2px 4px 2px;
          

          h4 {
            font-weight: 500;
            margin: 0;
            
          }

          .follow {
            
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;

            cursor: pointer;

            mat-icon {
              font-size: 18px;
              height: 18px;
            }
          }
        }

        p {
          margin: 2px 2px 2px 2px;
        }
      }

      .post-container {
        display: flex;
        padding: 12px;

        .post-top {
          color: var(--text);

          h4 {
            font-weight: 500;
            margin: 2px;
          }

          .user-info {
            margin: 2px;
          }

          .post-info {
            margin: 2px;
            display: flex;
            align-items: center;

            font-size: 12px;

            color: var(--info-text);
            mat-icon {
              font-size: 14px;
              height: 14px;
              width: 14px;
            }
          }
        }

        .post-content {
          margin: 12px 2px 4px 2px;

          .tag {
            color: #5d64f3;
            font-weight: 500;
          }
        }

        .post-image {
          margin: 12px 4px 4px 4px;
          img {
            width: 100%;
          }
        }

        mat-form-field {
          width: 100%;
        }

        .profile-image {
          margin-top: 0px;
        }
      }
    }
  }
}

.attachment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 14px;
  mat-icon {
    height: 18px;
    font-size: 18px;
  }
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 12px;
}

mat-drawer-content {
  height: 100vh;
}
