<div class="job-card">
    <div class="job-header">
      <div class="job-title">İlan</div>
    </div>
    <div class="job-content">
      <div class="job-heading">İnsan Kaynakları Stajı</div>
      <div class="job-description">
        Turkcell, Türkiye'nin önde gelen telekomünikasyon şirketlerinden biridir ve çalışanlarına yüksek değer...
      </div>
      <div class="job-details">
        <div class="job-icon"><mat-icon>computer</mat-icon></div>
        <div class="job-type">Uzaktan</div>
        <div class="job-separator">•</div>
        <div class="job-duration">Staj</div>
        <div class="job-separator">•</div>
        <div class="job-duration">2 Ay</div>
      </div>
    </div>
    <div class="job-company">
      <img src="../../../../../assets/img/turkcell.png" alt="Company Logo" class="company-logo" />
      <div class="company-info">
        <div class="company-name">Turkcell</div>
      </div>
    </div>
    <div class="job-rating">
      <div class="rating-circle">
        <div class="rating-number">8</div>
        <div class="rating-total">/10</div>
      </div>
    </div>
    <div class="profile-footer">
        <div class="footer-icon"><mat-icon>favorite_border</mat-icon></div>
        <div class="footer-divider"></div>
        <div class="footer-icon"><mat-icon>turned_in_not</mat-icon></div>
        <div class="footer-divider"></div>
        <div class="footer-icon"><mat-icon>more_horiz</mat-icon></div>
    </div>
  </div>
  