<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="header-404">404</h1>
            <p class="title">Beklemediğimiz bir hata ile karşılaştık</p>
            <p class="subtitle">Ulaşmaya çalıştığınız sayfa bulunamadı.</p>
            <div class="subtext">
                <p class="subtext-inline">
                    Bu sayfa geçici süreliğine kapatılmış, taşınmış veya hiç var olmamış olabilir.

                    Unilocked’da bulunan binlerce kişi, topluluk ve şirket arasında arama yaparak
                    yeni bir sayfaya doğru yola çıkabilirsiniz!
                </p>
            </div>
            <div class="bottom-container">
                <div class="searchbar-container">
                    <p>
                        <mat-form-field appearance="outline" style="width: 29.5rem;">
                            <mat-icon matPrefix style="padding-right: 20px;">search</mat-icon>
                            <mat-label style="margin-left: 10px;">Arama</mat-label>
                            <input matInput placeholder="Placeholder">
                        </mat-form-field>
                    </p>
                    <button mat-raised-button color="primary" class="button">Ara</button>
                </div>
                <button mat-raised-button color="primary" class="big-button">Veya - Önceki Sayfaya Dönün</button>
            </div>
        </div>
    </div>
</div>