::-webkit-scrollbar {
  display: none;
}

.company-host {
  min-height: 100vh;
  max-height: 140vh;
  overflow-y: scroll;
  padding-bottom: 4%;
}
.company-host .company-top {
  margin: 4% 0 2% 0;
  padding: 0px;
}
.company-host .company-top .row {
  margin: 0 !important;
}
.company-host .company-top .row .images {
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("https://cdn.wallpapersafari.com/18/96/mO0Kv8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.company-host .company-top .row .images .logo {
  width: 12%;
  height: 80%;
  border-radius: 15px;
  margin-left: 2%;
}
.company-host .company-top .row .images .logo img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.company-host .company-top .row .company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.company-host .company-top .row .company-info .description {
  display: flex;
  flex-direction: column;
}
.company-host .company-top .row .company-info .description span {
  margin: 1% 0;
  display: flex;
  align-items: center;
}
.company-host .company-top .row .company-info .description .name h2 {
  color: #343A40;
  font-weight: 600;
  margin: 0;
}
.company-host .company-top .row .company-info .description .name .mat-icon {
  color: #F59F00;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.company-host .company-top .row .company-info .description .text {
  color: #495057;
}
.company-host .company-top .row .company-info .description .followers {
  color: #868E96;
}
.company-host .company-top .row .company-info .buttons {
  display: flex;
  flex-direction: column;
}
.company-host .company-top .row .company-info .buttons button {
  margin: 4% 0%;
}
.company-host .about {
  margin: 2% 0;
  padding: 2%;
}
.company-host .about .row {
  margin-top: 1%;
}
.company-host .about .row h4 {
  font-weight: 600;
  margin: 0;
}
.company-host .posts {
  margin: 2% 0;
  padding: 2%;
}
.company-host .featured-content {
  margin: 2% 0;
  padding: 2%;
}
.company-host .employees, .company-host .jobs {
  margin: 2% 0;
}
.company-host .employees .employees-area .col-6, .company-host .employees .jobs-area .col-6, .company-host .jobs .employees-area .col-6, .company-host .jobs .jobs-area .col-6 {
  display: flex;
  margin: 2% 0;
}
.company-host .employees .employees-area .col-6 .logo, .company-host .employees .jobs-area .col-6 .logo, .company-host .jobs .employees-area .col-6 .logo, .company-host .jobs .jobs-area .col-6 .logo {
  width: 20%;
  text-align: center;
}
.company-host .employees .employees-area .col-6 .logo img, .company-host .employees .jobs-area .col-6 .logo img, .company-host .jobs .employees-area .col-6 .logo img, .company-host .jobs .jobs-area .col-6 .logo img {
  width: 60%;
  height: 45%;
  margin-top: 5%;
  border-radius: 50%;
}
.company-host .employees .employees-area .col-6 .text, .company-host .employees .jobs-area .col-6 .text, .company-host .jobs .employees-area .col-6 .text, .company-host .jobs .jobs-area .col-6 .text {
  width: 78%;
}
.company-host .employees .employees-area .col-6 .text h3, .company-host .employees .jobs-area .col-6 .text h3, .company-host .jobs .employees-area .col-6 .text h3, .company-host .jobs .jobs-area .col-6 .text h3 {
  font-weight: 600;
  margin-bottom: 0;
}
.company-host .employees .employees-area .col-6 .text p:nth-child(3), .company-host .employees .jobs-area .col-6 .text p:nth-child(3), .company-host .jobs .employees-area .col-6 .text p:nth-child(3), .company-host .jobs .jobs-area .col-6 .text p:nth-child(3) {
  color: #868E96;
}
.company-host .employees .employees-area .col-6 .text button .mat-icon, .company-host .employees .jobs-area .col-6 .text button .mat-icon, .company-host .jobs .employees-area .col-6 .text button .mat-icon, .company-host .jobs .jobs-area .col-6 .text button .mat-icon {
  font-size: 16px;
  display: inline;
}
.company-host .new.jobs, .company-host .all.jobs {
  background-color: transparent;
  border: none;
}
.company-host .company-life {
  margin: 2% 0;
}
.company-host .company-life .row .col-sm-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
}
.company-host .company-life .row .col-sm-6 img {
  width: 100%;
  height: 80%;
  border-radius: 7px;
}
.company-host .company-life .row .col-sm-6 h2 {
  font-weight: 600;
}
.company-host .contact {
  margin: 2% 0;
}
.company-host .contact .name {
  font-weight: 500;
  margin: 2px;
}
.company-host .warning {
  margin: 3% 0;
  padding: 3%;
  background-color: #d3f9d8;
}
.company-host .warning .warning-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-host .warning .warning-content .warning-message {
  display: flex;
  align-items: center;
}
.company-host .warning .warning-content .warning-message .mat-icon {
  color: #37b24d;
  margin-right: 1%;
}
.company-host .warning .warning-content .warning-message p {
  margin: 0;
  display: inline-block;
}
.company-host .warning .warning-content .warning-button button {
  background-color: #ffe3e3;
  color: #f03e3e;
}

.card {
  margin-bottom: 2%;
}
.card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.card .title h2 {
  margin: 2px;
}
.card .title button {
  font-size: 12px;
}
.card .title button mat-icon {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=company.component.css.map */