::-webkit-scrollbar {
    display: none;
  }
  
  .company-host {
      min-height: 100vh;
      max-height: 140vh;
      overflow-y: scroll;
      padding-bottom: 4%;
      .company-top {
        margin: 4% 0 2% 0;
        padding: 0px;
        
        .row {
          margin : 0!important;
          .images {
              display: flex;
              justify-content: start;
              align-items: center;
              background-image: url('https://cdn.wallpapersafari.com/18/96/mO0Kv8.jpg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
      
              .logo {
                  width: 12%;
                  height: 80%;
                  border-radius: 15px;
                  margin-left: 2%;
  
                  img {
                      width: 100%;
                      height: 100%;
                      border-radius: 15px;
                  }
              }
          }
  
          .company-info {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 2%;
  
              .description {
                  display: flex;
                  flex-direction: column;
  
                  span {
                      margin: 1% 0;
                      display: flex;
                      align-items: center;
                  }
                  .name {
                      h2 {
                          color: #343A40;
                          font-weight: 600;
                          margin: 0;
                      }
  
                      .mat-icon {
                          color: #F59F00;
                          font-size: 18px;
                          display: flex;
                          align-items: center;
                      }
                  }
  
                  .text {
                      color: #495057;
                  }
  
                  .followers {
                      color: #868E96;
                  }
              }
  
              .buttons {
                  display: flex;
                  flex-direction: column;
  
                  button {
                      margin: 4% 0%;
                  }
              }
          }
      }
      }
      .about {
        margin: 2% 0;
        padding: 2%;
        .row {
          margin-top: 1%;
          h4 {
            font-weight: 600;
            margin: 0;
          }
        }
      }
      .posts {
        margin: 2% 0;
        padding: 2%;
      }
      .featured-content {
        margin: 2% 0;
        padding: 2%;
      }
      
      .employees, .jobs {
        margin: 2% 0;
        .employees-area, .jobs-area {

          .col-6 {
            display: flex;
            margin: 2% 0;
            .logo {
              width: 20%;
              text-align: center;
              img {
                width: 60%;
                height: 45%;
                margin-top: 5%;
                border-radius: 50%;
              }
            }
            .text {
              width: 78%;
  
              h3 {
                font-weight: 600;
                margin-bottom: 0;
              }
  
              p {     
                &:nth-child(3) {
                  color: #868E96;
                }
              }
              button {
                .mat-icon {
                  font-size: 16px;
                  display: inline;
                }
              }
            }
          }
          
        }
      }
      
      .new.jobs, .all.jobs {
        background-color: transparent;
        border: none;
      }
      .company-life {
        margin: 2% 0;
        .row {
          .col-sm-6 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center!important;
            img {
              width: 100%;
              height: 80%;
              border-radius: 7px;
            }
            h2 {
              font-weight: 600;
            }
          }
        }
      }
      .contact {
        margin: 2% 0;
        .name {
          font-weight: 500;
          margin: 2px;
        }
      }
      .warning {
        margin: 3% 0;
        padding: 3%;
        background-color: #d3f9d8;
        .warning-content {
          display: flex;  
          justify-content: space-between;
          align-items: center;

          .warning-message {
            display: flex;
            align-items: center;

            .mat-icon {
              color: #37b24d;
              margin-right: 1%;
            }

            p {
              margin: 0;
              display: inline-block;
            }
          }

          .warning-button {
            button {
              background-color: #ffe3e3;
              color: #f03e3e;
            }
          }
        }
      }


    
    }
    
    .card {
      margin-bottom: 2%;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        h2 {
          margin: 2px;
        }
        button {
          font-size: 12px;
    
          mat-icon {
            font-size: 18px;
            display: inline-flex;
            justify-content: center;
    
            align-items: center;
          }
        }
      }
    }
    