<div class="find-box">
  <mat-card
    class="mat-elevation-z0"
  >
    <div class="panel">
      <mat-icon>{{icon}}</mat-icon>
    </div>
    <div class="oanel">
      <div>
        <h4>{{title}}</h4>
      <p>
        {{text}}
      </p>
      </div>
    </div>
    <div style="height: 100%;" class="panel">
      <button
        style="background-color: #4b53f2;"
        mat-raised-button
        color="primary"
        class="action mat-elevation-z0"
        (click)="click()"
      >
        {{buttonText}}
      </button>
    </div>
  </mat-card>
</div>
