.post {
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--surface-1);
  border: 1px solid var(--stroke);
  height: 100%;

  .post-image {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 2 / 1;
  }

  .post-title {
    font-weight: 500;
    margin: 2px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .post-content {
    font-weight: 400;
    margin: 2px;
    max-lines: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
