<div  class="toolbar-parent ">
  <mat-toolbar  color="secondary">
    <img src="assets/images/unilockedlogopgn-08.png" class="logo" alt="UniLocked">
    <a class="navbar-button" mat-button>Ana Sayfa</a>
    <a class="navbar-button" mat-button>Ağım</a>
    <a class="navbar-button" mat-button>Topluluklar</a>
    <a class="navbar-button" mat-button>Projeler</a>
    <span class="spacer"></span>
    <div class="navbar-search">
      <input placeholder="Ara..." class="navbar-input" type="text" />
      <mat-icon class="navbar-icon">search</mat-icon>
    </div>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon matBadge="1" matBadgeColor="primary">messages</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </button>
  </mat-toolbar>

</div>
