<mat-toolbar color="primary">
  <a class="logo-container" [routerLink]="['/home']"
    ><img [src]="logo | async" class="logo" alt="UniLocked"
  /></a>
  <button class="menu-button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>
  <button matTooltip="Keşfet" class="icon-button">
    <mat-icon>explore</mat-icon><br />
  </button>
  <button matTooltip="İlanlar" class="icon-button">
    <mat-icon>newspaper</mat-icon><br />
  </button>
  <button matTooltip="Programlar" class="icon-button">
    <mat-icon>rocket</mat-icon><br />
  </button>
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="navbar-search">
      <input
        formControlName="query"
        placeholder="Ara..."
        class="navbar-input"
        type="text"
      />
      <mat-icon class="navbar-icon">search</mat-icon>
    </div>
  </form>
  <button
    mat-icon-button
    class="messages-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon matBadge="1" matBadgeColor="primary">messages</mat-icon>
  </button>
  <button
    mat-icon-button
    class="notifications-icon"
    aria-label="Example icon-button with share icon"
    routerLink="/notifications"
  >
    <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
  </button>
  <div class="user-area">
    <img
      class="profile-image"
      [matMenuTriggerFor]="menu"
      [src]="auth.user.avatar"
      alt=""
    />

    <mat-menu #menu="matMenu">
      <button
        [disabled]="auth.loading$ | async"
        (click)="logout()"
        mat-menu-item
      >
        <mat-icon>logout</mat-icon>
        <span>Çıkış Yap</span>
      </button>

      <button
        routerLink="/settings"
        [disabled]="auth.loading$ | async"
        mat-menu-item
      >
        <mat-icon>settings</mat-icon>
        <span>Seçenekler</span>
      </button>

      <button (click)="toggleDarkMode()" mat-menu-item>
        <mat-icon>image</mat-icon>
        <span>{{ theme.darkMode ? "Açık Tema" : "Koyu Tema" }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
