@charset "UTF-8";
.profile-host {
  min-height: 100vh;
  padding-bottom: 4%;
}
.profile-host .profile-top {
  margin-top: 4%;
  padding: 0px;
}
.profile-host .profile-top .images {
  position: relative;
  display: block;
  width: 300px;
  aspect-ratio: 1/1;
}
.profile-host .profile-top .images .backdrop-area {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.profile-host .profile-top .images .backdrop-area .backdrop {
  width: 100%;
  height: 100%;
  border-radius: 12px 0px 0px 12px;
}
.profile-host .profile-top .images .avatar-area {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-host .profile-top .images .avatar-area .avatar {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}
.profile-host .profile-top .info-area {
  display: flex;
  align-items: center;
  margin: 16px;
}
.profile-host .profile-top .info-area .info-child .user-name {
  margin: 2px;
}
.profile-host .profile-top .info-area .info-child .user-job {
  margin: 2px;
}
.profile-host .profile-top .info-area .info-child .user-info {
  margin: 2px;
  color: var(--info-text);
  padding-bottom: 32px;
}
.profile-host .profile-top .info-area .info-child .organizations .organization {
  display: flex;
  align-items: center;
  margin: 4px;
}
.profile-host .profile-top .info-area .info-child .organizations .organization .organisation-image {
  width: 24px;
  height: 24px;
}
.profile-host .profile-top .info-area .info-child .organizations .organization .organisation-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-host .profile-top .info-area .info-child .organizations .organization .organization-info {
  margin-left: 8px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  height: 100%;
}
.profile-host .profile-top .info-area .info-child .organizations .organization .organization-info .organization-name {
  font-size: 12px;
  margin: 0px;
}
.profile-host .profile-top .buttons-area {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
.profile-host .profile-top .buttons-area button {
  margin-top: 16px;
  width: 100%;
}
.profile-host .private-profile-warning {
  margin-top: 2%;
  background-color: #ffe3e3 !important;
  color: #343a40;
}
.profile-host .private-profile-warning .left {
  display: flex;
  align-items: center;
}
.profile-host .private-profile-warning .left h2 {
  margin: 0;
}
.profile-host .private-profile-warning .mid {
  display: flex;
  align-items: center;
}
.profile-host .private-profile-warning .mid mat-icon {
  color: #f03e3e;
}
.profile-host .analyzes {
  margin-top: 2%;
}
.profile-host .analyzes .col-sm mat-icon {
  color: #5d64f3;
  background-color: #edeefe;
  border-radius: 50%;
  padding: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.profile-host .analyzes h4 {
  font-weight: 500;
  margin: 2px;
  display: inline-flex;
  align-items: center;
}
.profile-host .analyzes h4 span {
  margin-left: 6px;
}
.profile-host .analyzes .description {
  font-weight: 400;
  margin-left: 26px;
}
.profile-host .about {
  margin-top: 2%;
}
.profile-host .about .keep-reading {
  color: var(--sub-text);
}
.profile-host .contact {
  margin-top: 2%;
}
.profile-host .contact .name {
  font-weight: 500;
  margin: 2px;
}
.profile-host .posts {
  margin-top: 2%;
}
.profile-host .featured-content {
  margin-top: 2%;
}
.profile-host .experience {
  margin-top: 2%;
}
.profile-host .experience .experience-area  .experience-content .top {
  display: flex;
  align-items: flex-start;
}
.profile-host .experience .experience-area  .experience-content .top .company-image {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin: 2px;
}
.profile-host .experience .experience-area  .experience-content .top div {
  margin-left: 4px;
}
.profile-host .experience .experience-area  .experience-content .top div .experience-title {
  margin: 2px;
  font-weight: 500;
}
.profile-host .experience .experience-area  .experience-content .top div .name {
  margin: 2px;
}
.profile-host .experience .experience-area  .experience-content .top div .content {
  margin: 2px;
}
.profile-host .experience .experience-area  .experience-content .mid {
  margin-left: 56px;
}
.profile-host .experience .experience-area  .experience-content .mid .description {
  margin-top: 4px;
}
.profile-host .experience .experience-area  .experience-content .talents {
  margin-top: 8px;
  margin-left: 56px;
}
.profile-host .experience .experience-area  .experience-content .talents .talents-header {
  margin: 2px;
  font-weight: 500;
}
.profile-host .experience .experience-area  .experience-content .featured {
  margin-top: 16px;
  margin-left: 56px;
}
.profile-host .experience .experience-area  .experience-content .featured .featured-header {
  margin: 2px;
  font-weight: 500;
}
.profile-host .education {
  margin-top: 2%;
}
.profile-host .education .education-area  .education-content .top {
  display: flex;
  align-items: flex-start;
}
.profile-host .education .education-area  .education-content .top .school-image {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin: 2px;
}
.profile-host .education .education-area  .education-content .top div {
  margin-left: 4px;
}
.profile-host .education .education-area  .education-content .top div .education-title {
  margin: 2px;
  font-weight: 500;
}
.profile-host .education .education-area  .education-content .top div .name {
  margin: 2px;
}
.profile-host .education .education-area  .education-content .top div .content {
  margin: 2px;
  color: var(--sub-text);
}
.profile-host .education .education-area  .education-content .mid {
  margin-left: 56px;
}
.profile-host .education .education-area  .education-content .mid .description {
  margin-top: 4px;
}
.profile-host .education .education-area  .education-content .communities {
  margin-top: 8px;
  margin-left: 56px;
}
.profile-host .education .education-area  .education-content .communities .communities-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-host .education .education-area  .education-content .communities .communities-header h4 {
  font-weight: 500;
}
.profile-host .education .education-area  .education-content .communities .community {
  display: flex;
}
.profile-host .education .education-area  .education-content .communities .community .community-image {
  width: 32px;
  height: 32px;
  border: 1px solid var(--stroke);
  border-radius: 50%;
}
.profile-host .education .education-area  .education-content .communities .community .community-info {
  margin-left: 8px;
}
.profile-host .education .education-area  .education-content .communities .community .community-info .community-name {
  margin: 2px;
  font-weight: 500;
}
.profile-host .education .education-area  .education-content .communities .community .community-info .community-role {
  margin: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.profile-host .education .education-area  .education-content .communities .community .community-info .community-date {
  margin: 2px;
  font-size: 12px;
  line-height: 12px;
  color: var(--info-text);
}
.profile-host .education .education-area  .education-content .education-info {
  margin-top: 8px;
  margin-left: 56px;
}
.profile-host .education .education-area  .education-content .education-info h4 {
  font-weight: 500;
}
.profile-host .education .education-area  .education-content .education-info .info-title {
  font-weight: 500;
  margin: 2px;
}
.profile-host .education .education-area  .education-content .education-info .gpa {
  line-height: 12px;
  font-weight: 400;
  font-size: 12px;
  margin: 2px;
}
.profile-host .education .education-area  .education-content .education-info .info {
  margin: 2px;
  line-height: 12px;
  font-weight: 400;
  font-size: 12px;
  color: var(--sub-text);
}
.profile-host .education .education-area  .education-content .education-info .grade {
  line-height: 12px;
  font-weight: 400;
  font-size: 12px;
  margin: 2px;
}
.profile-host .education .education-area  .education-content .talents {
  margin-top: 8px;
  margin-left: 56px;
}
.profile-host .education .education-area  .education-content .talents .talents-header {
  margin: 2px;
  font-weight: 500;
}
.profile-host .education .education-area  .education-content .featured {
  margin-top: 16px;
  margin-left: 56px;
}
.profile-host .education .education-area  .education-content .featured .featured-header {
  margin: 2px;
  font-weight: 500;
}
.profile-host .projects {
  margin-top: 2%;
}
.profile-host .projects h3 {
  font-weight: 500;
  margin-top: 8px;
}
.profile-host .projects .project {
  padding: 8px;
  background-color: var(--surface-2);
  border: 1px solid var(--stroke);
  border-radius: 8px;
}
.profile-host .projects .project .project-image {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 4px;
}
.profile-host .projects .project .project-title {
  font-weight: 500;
  margin: 2px;
}
.profile-host .projects .project .project-info {
  margin: 2px;
  color: var(--sub-text);
}
.profile-host .projects .project .project-parent {
  display: inline-flex;
  align-items: center;
}
.profile-host .projects .project .project-parent img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 2px;
}
.profile-host .projects .project .project-parent .project-parent-name {
  margin: 2px;
  font-weight: 400;
}
.profile-host .projects .project .project-parent .project-parent-name span {
  font-weight: 500;
}
.profile-host .certificates {
  margin-top: 2%;
}
.profile-host .certificates .certificates-area  .certificate-content .top {
  display: flex;
  align-items: flex-start;
}
.profile-host .certificates .certificates-area  .certificate-content .top .certificate-image {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin: 2px;
}
.profile-host .certificates .certificates-area  .certificate-content .top div {
  margin-left: 4px;
}
.profile-host .certificates .certificates-area  .certificate-content .top div .certificate-title {
  margin: 2px;
  font-weight: 500;
}
.profile-host .certificates .certificates-area  .certificate-content .top div .name {
  margin: 2px;
}
.profile-host .certificates .certificates-area  .certificate-content .top div .content {
  margin: 2px;
}
.profile-host .certificates .certificates-area  .certificate-content .mid {
  margin-left: 56px;
}
.profile-host .certificates .certificates-area  .certificate-content .mid .description {
  margin-top: 4px;
  color: var(--sub-text);
}
.profile-host .certificates .certificates-area  .certificate-content .talents {
  margin-top: 8px;
  margin-left: 56px;
}
.profile-host .certificates .certificates-area  .certificate-content .talents .talents-header {
  margin: 2px;
  font-weight: 500;
}
.profile-host .certificates .certificates-area  .certificate-content .featured {
  margin-top: 16px;
  margin-left: 56px;
}
.profile-host .certificates .certificates-area  .certificate-content .featured .featured-header {
  margin: 2px;
  font-weight: 500;
}

.special {
  display: flex;
  align-items: center;
  color: #5d64f3;
  font-weight: 500;
}

.card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.card .title h2 {
  margin: 2px;
}
.card .title button {
  font-size: 12px;
}
.card .title button mat-icon {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=user-profile.component.css.map */