<main-content>
    <div class="container">
        <mat-card class="featured-content card">
            <div class="title">
              <h2>Öne Çıkan İçerikler</h2>
              <div>
                <div>
                  <button mat-button color="primary">
                    <mat-icon>add</mat-icon> Ekle
                  </button>
                  <button mat-button color="primary">
                    <mat-icon>edit</mat-icon> Düzenle
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6" *ngFor="let item of user.featured">
                <profile-content [item]="item"></profile-content>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6" *ngFor="let item of user.featured">
                  <profile-content [item]="item"></profile-content>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" *ngFor="let item of user.featured">
                  <profile-content [item]="item"></profile-content>
                </div>
              </div>
        </mat-card>
    </div>
</main-content>
