/* For use in src/lib/core/theming/_palette.scss */
$purple-palette: (
    50 : #e9e4f0,
    100 : #c8bcda,
    200 : #a390c1,
    300 : #7e64a8,
    400 : #634296,
    500 : #472183,
    600 : #401d7b,
    700 : #371870,
    800 : #2f1466,
    900 : #200b53,
    A100 : #a589ff,
    A200 : #7e56ff,
    A400 : #5723ff,
    A700 : #4409ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$blue-palette: (
    50 : #e9ebfa,
    100 : #c9ccf2,
    200 : #a5abe9,
    300 : #8189e0,
    400 : #666fd9,
    500 : #4b56d2,
    600 : #444fcd,
    700 : #3b45c7,
    800 : #333cc1,
    900 : #232bb6,
    A100 : #f1f2ff,
    A200 : #bec1ff,
    A400 : #8b91ff,
    A700 : #7278ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$white-palette: (
    50 : #fdfefe,
    100 : #fbfcfc,
    200 : #f8fbfa,
    300 : #f5f9f8,
    400 : #f3f7f7,
    500 : #f1f6f5,
    600 : #eff5f4,
    700 : #edf3f2,
    800 : #ebf2f0,
    900 : #e7efee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

