<div class="profile-card">
  <div class="profile-header">
    <div class="profile-title">Kişi</div>
  </div>
  <div class="profile-content">
    <img class="profile-image" src="../../../../../assets/img/avatar4.png" />
    <div class="profile-details">
      <div class="profile-name">
        <div>Alev Akyıldız</div>
        <div class="status-dot"><div class="dot"><mat-icon>verified_user</mat-icon></div></div>
      </div>
      <div class="profile-role">Turkcell'de İnsan Kaynakları Yöneticisi</div>
      <div class="profile-location">
        <div>Eskişehir, Türkiye</div>
        
        <div class="divider">•</div>
        <div>145</div>
        <div class="connection">Bağlantı</div>
      </div>
    </div>
  </div>
  <div class="profile-actions">
    <div class="action-item">
      <div class="action-icon green">	<mat-icon>check</mat-icon></div>
      <div class="action-text">Seçimlerinize uyuyor • <br>Yeni Bağlantılar</div>
    </div>
    <div class="action-item">
      <div class="action-icon green">	<mat-icon>check</mat-icon></div>
      <div class="action-text">Seçimlerinize uyuyor • <br>Yeni Bağlantılar</div>
    </div>
    <div class="action-item">
      <div class="action-icon green">	<mat-icon>check</mat-icon></div>
      <div class="action-text">Seçimlerinize uyuyor • <br>Yeni Bağlantılar</div>
    </div>
    <div class="profile-rating">
      <div class="rating-badge">
        <div class="rating">10</div>
        <div class="rating-max">/10</div>
      </div>
    </div>
  </div>
  
  <div class="profile-footer">
    <div class="footer-icon"><mat-icon>favorite_border</mat-icon></div>
    <div class="footer-divider"></div>
    <div class="footer-icon"><mat-icon>turned_in_not</mat-icon></div>
    <div class="footer-divider"></div>
    <div class="footer-icon"><mat-icon>more_horiz</mat-icon></div>
  </div>
</div>
