.header {
  border-bottom: 0.1px solid var(--sub-text);
  margin-top: 4%;
}

.mat-drawer-container {
  background-color: var(--surface-1);
}

.content {
  margin-top: 4%;
}

.joined {
  display: flex;
  margin-top: -2%;
  justify-content: center;
  align-items: center;

  .person {
    margin: 4% 16px 16px 16px;
    max-width: 300px;
    width: 100%;
    position: relative;

    padding: 0;
    border-radius: 12px;

    .backdrop {
      border-radius: 12px;
      width: 100%;
      height: 120px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 12px;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
    }

    .name {
      font-weight: 600;
      margin: 16px 16px 0px 16px;
    }

    .short-desc {
      font-weight: 500;
      font-size: 14px;
      margin: 8px 16px 0px 16px;
    }

    .role {
      font-size: 12px;
      font-weight: 500;
      color: var(--sub-text);
      margin: 8px 16px 16px 16px;
    }
  }
}

.following-area {
  margin-top: 4%;

  .followed {
    justify-content: space-between;
    margin: 0 4% 4% 4%;
    .community {
      padding-right: 36px;
      margin-top: 36px;
      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 0px 16px 16px 16px;
      }

      .name {

        font-size: 16px;
        font-weight: 600;
        margin: 2px;

      }


      .short-desc {
        font-size: 14px;
        font-weight: 500;
        color: var(--sub-text);
        margin: 2px;
      }

      .details {
        margin: 2px;
        color: var(--info-text);
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .joined {
    flex-wrap: wrap;

    .icon-right  {
      right: 16px;
       }

      .icon-left {
        left: 16px;
      }


      button {
        position:absolute;

        transform: translate(0, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
      }
}
}
